<!-- [조건문 v-if와 v-show] -->

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Basic</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <h2>App1 : v-if</h2>
    <div id="app1">
        <div v-if="true">Yes</div>
        <div v-if="false">No</div>

        <div v-if="show">Show</div>
        <div v-else>No</div>
        <button @click="toggleShow">Toggle</button>
    </div>

    <script>
        var app = new Vue({
            el: '#app1',
            data: {
                // show:false
                show: true
            },
            methods: {
                toggleShow () {
                    this.show = !this.show
                }
            }
        })
    </script>

</body>

</html>