<!-- [조건문 v-if와 v-show] -->

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Basic</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <h2>App2 : v-if와 template (혹은 div)</h2>
    <div id="app2">
        <button @click="toggleShow">Toggle</button>
        <template v-if="show">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </template>
        <div v-if="show">
            <div>Go!</div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app2',
            data: {
                show: true
            },
            methods: {
                toggleShow () {
                    this.show = !this.show
                }
            }
        })
    </script>

</body>

</html>