// 글로벌 변수 그룹 임포트
@import '../../styles/resources.scss';

.Button {
  background: $blue;
  font-size: $font-md;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  &:hover {
    background: lighten($blue, 10%);
  }
  &:active {
    background: darken($blue, 10%);
  }
}
