.movieTitle {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    width: 500px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.movieTitle:hover {
    background: gray;
}

.movieImage {
    border: 1px solid gray;
    border-radius: 5px;
}