@import 'styles/resources.scss';
    
.countLabel {
  font-size: $lg;
    color: $gray;
    border: 1px solid $gray;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.countBtn {
  text-align: center;
  font-size: $lg;
  width: 50px;
  height: 40px;
}
