/*!
* Version: 5.0.0
* Template: Example Project
* Author: iqonic.design
* Design and Developed by: iqonic.design
* NOTE: This file contains the styling for Template.
*
*/

// Configuration
@import "./bootstrap/functions";
// Variables
@import "./streamit-design-system/variables";
@import "./streamit-design-system/variables-dark";
@import "./streamit-design-system/variables/index";
@import "./bootstrap/variables";
@import "./bootstrap/variables-dark";
@import "./bootstrap/maps";
@import "./bootstrap/mixins";
@import "./bootstrap/utilities";

@import "./bootstrap/mixins";

//Streamit Design System Mixin And Helper
@import "./streamit-design-system/helper/mixins";
@import "./streamit-design-system/helper/reboot";

@import "./custom/auth/authentication";
@import "./custom/kanban/kanban";
@import "./custom/pricing/pricing";
@import "./custom/ui-kit/ui-kit";

@import "./custom/customizer/layouts";
@import "./custom/dark/dark-custom";

//sweetalert
@import "./sweet-alert/sweet-alert"