.input > * {
    display: block;
    margin: 20px;
}

/* 가상요소 : pseudo-element */
.input > input::placeholder {
    font-size: 10px;
}

/* 가상클래스 : pseudo-class
a:link, a:visited, a:hover, a:active {    
} 
*/