.App {
  margin: 20px;
}

.movieTitle {
  text-decoration: none;
  color: gray;
}

.userList {
  border: 1px solid gray;
}

.userList > .userName {
  font-weight: bold;
}

.userList > .userEmail {
  color: gray;
  font-size: 12px;
}
