.movieItem {
  display: block;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.movieItem:hover {
  background: gray;
}

.movieTitle {
  text-decoration: none;
  color: gray;
}

.movieTitle:hover {
  color: pink;
}

.movieImage {
  height: 100px;
  margin-right: 20px;
}