<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BBS1Mapper">

<!--
Mapper : DAO로부터 명령을 받아 실행된, DB쿼리의 결과값을 담아 VO로 보낸다.

게시판 목록 조회 참조
id="ListPage" : 추후 BBS1DAOImple.java에서 return sqlSession.selectList("*Mapper.ListPage");을 했을 때 실행되는 SQL문이란 뜻이다.
resultType="to.pc.azuma2.vo.BBS1VO" : 쿼리를 실행하고난 결과값을 BBS1VO에 담아주겠단 뜻. 그럴려면 BBS1VO의 위치를 알아야하기때문에 to.pc.azuma2.BBS1VO로 써준 것이다.

WHERE BNO = #{bno} : WHERE에 BNO값을 넣어줘서 제목을 클릭했을때 그 번호에 해당하는 게시물을 조회하게끔 하는 쿼리이다.

게시판 수정
TITLE = #{title} : 이런식으로 #{}는 Controller -> Service -> DAO를 통해 받은 파라미터값들이 들어가게 된다.
파라미터를 받을 그릇들을 만들었으니 이제는 DAO로 가서 Service에서 받을 그릇들을 만들어준다.
-->

   <!-- 게시판 글 작성 -->
   <insert id="insert">
	   INSERT INTO AZUMA_SM1_BBS1(    BNO
	   					      , TITLE
	   					      , CONTENT
	   					      , WRITER  )
	                 VALUES(    NULL
	                 		  , #{title}
	                 		  , #{content}
	                 		  , #{writer}  )
   </insert>

	<!-- 게시판 목록 조회 -->
	<select id="listPage" resultType="to.pc.azuma2.vo.BBS1VO" parameterType="to.pc.azuma2.vo.BBS1SearchCriteria">
		SELECT  BNO,
		        TITLE,
		        CONTENT,
		        WRITER,
		        REGDATE
		 FROM (
		        SELECT BNO,
		               TITLE,
		               CONTENT,
		               WRITER,
		               REGDATE,
		               ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM
		         FROM AZUMA_SM1_BBS1
		         WHERE 1=1
		         	<include refid="search"></include>
		                       ) AZUMA
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO DESC
	</select>

	<!-- 게시판 목록 갯수 -->
	<select id="listCount" parameterType="to.pc.azuma2.vo.BBS1SearchCriteria" resultType="int">
		SELECT COUNT(BNO)
		   FROM AZUMA_SM1_BBS1
		   WHERE 1=1
		<include refid="search"></include>
		   AND BNO > 0
	</select>

	<!-- 게시판 검색 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>

	<!-- 게시판 수정 -->
    <update id="update" parameterType="to.pc.azuma2.vo.BBS1VO">
		UPDATE AZUMA_SM1_BBS1
		   SET TITLE    =   #{title},
		   	   CONTENT  =   #{content}
		 WHERE BNO = #{bno}
	</update>

	<!-- 게시판 수정뷰 조회, 게시판 조회 -->
	<select id="read" parameterType="int" resultType="to.pc.azuma2.vo.BBS1VO">
		SELECT	BNO
			  , TITLE
			  , CONTENT
			  , WRITER
			  , REGDATE
		 FROM AZUMA_SM1_BBS1
		 WHERE BNO = #{bno}
	</select>

	<!-- 게시판 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE
		  FROM AZUMA_SM1_BBS1
		 WHERE BNO = #{bno}
	</delete>


</mapper>


