<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Blog1Mapper">

   <!-- 블로그 작성 -->
   <insert id="insert">
	   INSERT INTO AZUMA_SM1_BLOG1(    BNO
	   					      , TITLE
	   					      , CONTENT
	   					      , WRITER  )
	                 VALUES(    NULL
	                 		  , #{title}
	                 		  , #{content}
	                 		  , #{writer}  )
   </insert>

	<!-- 블로그 목록 조회 -->
	<select id="listPage" resultType="to.pc.azuma2.vo.Blog1VO" parameterType="to.pc.azuma2.vo.Blog1SearchCriteria">
		SELECT  BNO,
		        TITLE,
		        CONTENT,
		        WRITER,
		        REGDATE
		 FROM (
		        SELECT BNO,
		               TITLE,
		               CONTENT,
		               WRITER,
		               REGDATE,
		               ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM
		         FROM AZUMA_SM1_BLOG1
		         WHERE 1=1
		         	<include refid="search"></include>
		                       ) AZUMA
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO DESC
	</select>

	<!-- 블로그 목록 갯수 -->
	<select id="listCount" parameterType="to.pc.azuma2.vo.Blog1SearchCriteria" resultType="int">
		SELECT COUNT(BNO)
		   FROM AZUMA_SM1_BLOG1
		   WHERE 1=1
		<include refid="search"></include>
		   AND BNO > 0
	</select>

	<!-- 블로그 검색 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>

	<!-- 블로그 수정 -->
    <update id="update" parameterType="to.pc.azuma2.vo.Blog1VO">
		UPDATE AZUMA_SM1_BLOG1
		   SET TITLE    =   #{title},
		   	   CONTENT  =   #{content}
		 WHERE BNO = #{bno}
	</update>

	<!-- 블로그 수정뷰 조회 -->
	<select id="read" parameterType="int" resultType="to.pc.azuma2.vo.Blog1VO">
		SELECT	BNO
			  , TITLE
			  , CONTENT
			  , WRITER
			  , REGDATE
		 FROM AZUMA_SM1_BLOG1
		 WHERE BNO = #{bno}
	</select>

	<!-- 블로그 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE
		  FROM AZUMA_SM1_BLOG1
		 WHERE BNO = #{bno}
	</delete>

</mapper>