/* tag 선택자는 앞에 기호를 붙이지 않는다. */
a {
  color: red;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
  color: black;
}

/* class 선택자는 .을 앞에 붙인다. */
.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: orange;
}

/* id 선택자는 #을 앞에 붙인다. */
#yellowgreen {
  color: yellowgreen;
}

#darkorange {
  color: darkorange;
}
