{{#extend layout title="1 Column Blog" active="one-column" isHeader="true" isFooter="true" path="../" isBreadcrumb="true" }}
{{#content "content"}}
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                        {{> components/widgets/blog-card  linkButton="true" blogImg="blog1.webp" id="01" blogDate="January 1, 2022" blogTag="Movie" blogTitle="Emmy 2018: “Game of Throne”  featured having 22 nominee" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." }}    
                        {{> components/widgets/blog-card  linkButton="true" blogImg="blog2.webp" id="02" blogDate="February 2, 2022" blogTag="TV Series" blogTitle="Racing is about to show  you the beauty of Britain" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." }}    
                        {{> components/widgets/blog-card   linkButton="true" blogImg="blog3.webp" id="03" blogDate="February 2, 2022" blogTag=" Trailers " blogTitle="10 teams we can’t wait to  use in Soccer 2022 " blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." }}    
                        {{> components/widgets/blog-card linkButton="true" blogImg="blog7.webp" id="04" blogDate="February1, 2022" blogTag="Historical " blogTitle="Merghani Alonso wins  eSport League" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." }} 
                        {{> components/widgets/blog-card linkButton="true" blogImg="blog8.webp" id="05" blogDate="January 30, 2022" blogTag="Movie" blogTitle="10 Free Games with Gold  of July 2022 are out" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit."}} 
                        {{> components/widgets/blog-card linkButton="true" blogImg="blog9.webp" id="06" blogDate="January 30, 2022" blogTag="Trailers" blogTitle="Island 2 is still in deving, Magic confirms" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." }}
                        {{> components/widgets/blog-card linkButton="true" blogImg="blog10.webp" id="07" blogDate="January 30, 2022" blogTag="Trailers" blogTitle="How turned Hot Wheels into sheer genius" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit."}}
                        {{> components/widgets/blog-card linkButton="true" blogImg="blog11.webp" id="08" blogDate="January 31, 2022" blogTag="Historical" blogTitle="Drum Gum added in 4.5 Update" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit."}}
                        {{> components/widgets/blog-card linkButton="true" blogImg="blog12.webp" id="09" blogDate="January 16, 2022" blogTag="Dramas" blogTitle="Grab free skin and loot From Phone" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit."}}
                </div>
            </div>
        </div>
    </div>
{{/content}}
{{/extend}}