.form, .greetings {
    display: none;
}

.showing {
    display: block;
}

/* 4 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* 레이어 순서를 제일 아래 단계로 한다. */
    animation: fadeIn .5s linear;
}

body {
    color:white;    
}
