<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>About Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ut delectus
      asperiores sapiente molestias harum, suscipit nulla perferendis nesciunt
      nisi explicabo earum ea maxime nobis, aliquid, laudantium impedit. In,
      voluptatem.
    </p>
  </body>
</html>
