.title {
    font-size: 18px;
}

.movieTitle {
    display: block;
    color: black;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 400px;
}

.movieTitle:hover {
    background: gray;
}

.movieCoverImage {
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
}
