a {
  color: #FFF;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

#googleLink {
  background-color: red;
}

#naverLink {
  background-color: greenyellow;
}

.btnLink {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 30px;
}