<div class="loader simple-loader">
    <div class="loader-body ">
        {{!-- <img src="{{path}}assets/images/loader.gif" alt="loader" class="image-loader img-fluid "> --}}
        <img src="{{path}}assets/images/loader-unscreen.gif" class="image-loader img-fluid" />
    </div>
</div>