.news {
    text-decoration: none;
    color: black;
}

.newsContainer {
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    margin-top: 8px;
}

.newsContainer:hover {
    background-color: gray;
}

.writer {
    color: gray;
}
