/* selector 位階 : tag < "class" < id */

/* rainbow : red, orange, yellow, green, blue, navy, purple */

#superman {
  color: yellow;
}

/* CSSの擬似クラス */
.title:hover {
  color: green;
}

.title {
  color: blue;
}

h1 {
  color: navy;
}

.parent {
  color: purple;
}