<div class="shop-box">
    <h5 class="mb-4 text-uppercase">Product categories</h5>
    <ul class="list-unstyled p-0 m-0 shop-list-checkbox">
        <li>
            Activeman (4)
        </li>
        <li>
            <div class="d-flex align-items-center justify-content-between">
                <span>Disney World (2)</span>
                <a class="checkbox" data-bs-toggle="collapse" href="#categoriesone" role="button" aria-expanded="false" aria-controls="categoriesone">
                </a>
            </div>
            <div class="collapse" id="categoriesone">
                <ul class="list-unstyled ps-2 mt-3">
                    <li>Fantasia (1)</li>
                </ul>
            </div>
        </li>
        <li>
            Galaxy Heaven (1)
        </li>
        <li>
            Haunted Halloween (6)
        </li>
         <li>
            Marvel Studios (3)
        </li>
        <li>
            Monster-House (4)
        </li>
        <li>
            Quid Game (1)
        </li>
        <li>
            The Flashv (1)
        </li>
        <li>
            The Madrid (3)
        </li>
        <li>
            The-Champion(4)
        </li>
        <li>
            Uptight Birds (1)
        </li>
         <li>
            Warner Bros Films (2)
        </li>
    </ul>
</div>
<div class="shop-box">
    <h5 class="">PRICE FILTER </h5>
    <div class="form-group my-4 product-range">
        <div class="range-slider" id="product-price-range"></div>
    </div>
    <div class=" d-flex align-items-center my-3">
        <small>Price: &nbsp;</small>
        <small id="lower-value">&nbsp; $11</small>
        <small id="lower-value1">&nbsp; - &nbsp;</small>
        <small id="upper-value">&nbsp;$50</small>
    </div>
</div>

 <div class="shop-box">
    <h5 class="mb-4">PRODUCT SIZE</h5>
    <ul class="shop_list_checkbox list-unstyled">
        <li>
            <label class="shop_checkbox_label">L</label>
            <input type="hidden" value="L" />
        </li>
        <li>
            <label class="shop_checkbox_label">M</label>
            <input type="hidden" value="M" />
        </li>
        <li>
            <label class="shop_checkbox_label">S</label>
            <input type="hidden" value="S" />
        </li>
    </ul>
</div>
<div class="shop-box border-bottom-0">
    <h5 class="mb-4">PRODUCTS</h5>
    <ul class="list-unstyled m-0 p-0 shop-product">
        <li class="d-flex align-items-center mb-4">
            <div class="top-product-img pe-3">
                <img src="{{path}}assets/images/shop/product/01.webp" class="img-fluid" alt="img">
                </div>
                <div class="">
                <a href="product-detail.html" class="">Magic Hat</a>
                <p>$10.00</p>
            </div>
        </li>
        <li class="d-flex align-items-center mb-4">
            <div class="top-product-img pe-3">
            <img src="{{path}}assets/images/shop/product/30.webp" class="img-fluid" alt="img">
            </div>
            <div class="product-detail.html">
            <a href="" class="">Green Specs</a>
            <div>
                <del>$22.00</del> $18.00
            </div>
            </div>
        </li>
        <li class="d-flex align-items-center">
            <div class="top-product-img pe-3">
            <img src="{{path}}assets/images/shop/product/07.webp" class="img-fluid" alt="img">
            </div>
            <div class="product-detail.html">
            <a href="" class="">Cartoon Character</a>
            <p class="mb-0">
                $25.00
            </p>
            </div>
        </li>
    </ul>
</div>