// color setting
$blue: blue;
$red: red;
$light-gray: lightgray;
$gray: gray;
$black: black;
$white: white;
$orange: orange;
$transparent: transparent;

// basic
$primary: $blue;
$secondary: $gray;
$warning: $orange;
$danger: $red;
$background: $light-gray;
$foreground: $gray;
$border: $black;

// font
$font-light: $white;
$font-dark: $black;
$font-warning: $orange;
$font-danger: $red;
