// margin setting
$margin: 10px;
$margin-half: $margin / 2;
$margin-double: $margin * 2;
$margin-triple: $margin * 3;

// basic
$margin-top: $margin 0;
$margin-right: 0 $margin 0 0;
$margin-bottom: 0 $margin;
$margin-left: 0 0 $margin 0;

// font
$font-xxs: $margin / 2;
$font-xs: $margin;
$font-sm: $margin * 2;
$font-md: $margin * 3;
$font-lg: $margin * 4;
$font-xl: $margin * 5;
$font-xxl: $margin * 6;
