@import '../../styles/resources.scss';

.movieTitle {
  @include title-button($text-gray);
}

.movieRankGood {
  color: $text-blue;
}

.movieRankSoso {
  color: $text-yellow;
}

.movieRankBad {
  color: $text-red;
}