.btn-fixed-end {
  position: fixed;
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-fixed-start {
  position: fixed;
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-fixed-top {
  position: fixed;
  left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-fixed-bottom {
  position: fixed;
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
