.title {
    color: black;
}

#app {
    margin: 20px;
}

.movieTitle {
    display: block;
    text-decoration: none;
    border: 1px solid gray;
    width: 500px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.movieTitle:hover {
    background: gray;
}

.movieImage {
    width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
}

.movieRankGood {
    color: blue;
}

.movieRankNotBad {
    color: orange;
}

.movieRankBad {
    color: red;
}
