{
  "env": {
    "browser": true, // 브라우져 환경
    "es2021": true, // ES2021 환경
    "node": true, // Node.js 환경
    "jest": true // Jest 환경
  },
  "extends": [
    "plugin:react/recommended" // eslint-plugin-react 플러그인의 권장 규칙 사용
  ],
  "parserOptions": {
    "ecmaFeatures": {
      // ECMAScript 피쳐 활성화
      "jsx": true // JSX 문법 사용
    },
    "ecmaVersion": 12, // ECMAScript 버전
    "sourceType": "module" // ECMAScript 모듈
  },
  "plugins": [
    "react" // eslint-plugin-react 플러그인 사용
  ],
  "rules": {}
}
