.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.movieTitle {
  font-size: 1.5rem;
  color: gray;
  display: block;
  text-decoration: none;
  border: 1px solid gray;
  width: 350px;
  border-radius: 5px;
}

.movieTitle:hover {
  color: pink;
  background-color: black;
}

.movieImage {
  width: 200px;
}

.movieRatingGood {
  color: blue;
}
.movieRatingSoso {
  color: orange;
}
.movieRatingBad {
  color: red;
}
