a {
    font-size: 25px;
    color: red;
}

b {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

/* 선택자(Selector)의 위계 : id > class > tag */
.blue {
    color: blue;
}

#red {
    color: red;
}
