.App {
  text-align: start;
  margin: 20px;
}

.movies {
  display: flex;
  margin-bottom: 20px;
}

.movieTitle {
  font-size: 20px;
  flex: 9;
  display: block;
  color: gray;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movieTitle:hover {
  color: white;
  background: pink;
}

.movieImage {
  flex: 1;
  border: 1px solid gray;
  border-radius: 5px;
  width: 50px;
  margin-left: 10px;
}

.movieDetail {
  font-size: 13px;
}

.movieRatingGood {
  color: blue;
}

.movieRatingSoso {
  color: orange;
}

.movieRatingBad {
  color: red;
}