// 변수 선언
$blue: #228be6;

.Button {
    // 변수 사용
    background: $blue;

    display: inline-flex;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    align-items: center;
    justify-content: center;
    width: 110px;
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;

    // 가상 클래스
    // &:hover는 .Button:hover를 의미한다.
    &:hover {
        // lighten() : 색상 10% 밝게
        background: lighten($blue, 10%);
    }

    &:active {
        // darken() : 색상 10% 어둡게
        background: darken($blue, 10%);
    }
}