$blue: blue;
$orange: orange;
$white: white;

@mixin button-color($color) {
  background: $color;
  border: 1px solid $white;
  color: $white;

  &:hover {
    background: lighten($color, 10%);
  }

  &:active {
    background: darken($color, 10%);
  }
}

.primary {
  @include button-color($blue);
}

.secondary {
  @include button-color($orange);
}