{{#extend layout title="Forgot Password" active="reset-password" path="./"}}
{{#content "content"}}

<div class="vh-100" style="background: url('{{path}}assets/images/pages/01.webp'); background-size: cover; background-repeat: no-repeat; position: relative;min-height:500px">
  <div class="container">
    <div class="row justify-content-center align-items-center height-self-center vh-100">
        <div class="col-lg-5 col-md-12 align-self-center">
            <div class="user-login-card bg-body">
                <p>
                    Please enter your username or email address. You will receive a link to create a new password via email.
                </p>
                <form action="post">
                    <div class="mb-5">
                        <label class="text-white fw-500 mb-2">Username or Email Address</label>
                        <input type="text" class="form-control rounded-0" required="">
                    </div>
                    {{>components/widgets/custom-button button-title="Get new password" button-url="#"}}  
                    <div class="seperator d-flex justify-content-center align-items-center">
                        <span class="line"></span>
                    </div>     
                    {{>components/widgets/custom-button button-title="log in" button-url="login.html"}}  
                </form>
            </div>
        </div>
    </div>
  </div>
</div>

{{/content}}
{{/extend}}