{{#extend layout title="View All" active="geners" isHeader="true" isFooter="true" path="./"
isBreadcrumb="true"}}
{{#content "content"}}

<div class="section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 my-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="main-title text-capitalize mb-0">geners</h5>
                </div>
            </div>
        </div>
        <div class="row row-cols-xl-5 row-cols-md-2 row-cols-1 geners-card geners-style-grid">
            <div class="col slide-items">
                {{>components/widgets/genres-card geners-image="genre/01.webp" geners-title="action"}}
            </div>
            <div class="col slide-items">
                {{>components/widgets/genres-card geners-image="genre/02.webp" geners-title="action"}}
            </div>
            <div class="col slide-items">
                {{>components/widgets/genres-card geners-image="genre/03.webp" geners-title="action"}}
            </div>
            <div class="col slide-items">
                {{>components/widgets/genres-card geners-image="genre/04.webp" geners-title="action"}}
            </div>
            <div class="col slide-items">
                {{>components/widgets/genres-card geners-image="genre/05.webp" geners-title="action"}}
            </div>
            <div class="col slide-items">
                {{>components/widgets/genres-card geners-image="genre/06.webp" geners-title="action"}}
            </div>
            <div class="col slide-items">
                {{>components/widgets/genres-card geners-image="genre/07.webp" geners-title="action"}}
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}