{{#extend layout title="View All" active="view-all-movie" isHeader="true" isFooter="true" path="./" isBreadcrumb="true"}}
{{#content "content"}}

<div class="section-padding">
    <div class="container-fluid">       
        <div class="card-style-grid">
            <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1">
                <div class="col mb-4">
                  {{>components/widgets/card-style card-image="movies/related/01.webp" card-title="giikre" movie-time="2hr 12mins"}}
                </div>
                <div class="col mb-4">
                  {{>components/widgets/card-style card-image="movies/related/02.webp" card-title="YoShi" movie-time="1hr 22mins"}}
                </div>
                <div class="col mb-4">
                  {{>components/widgets/card-style card-image="movies/related/03.webp" card-title="We Gare" movie-time="1hr 30mins"}}
                </div>
                <div class="col mb-4">
                  {{>components/widgets/card-style card-image="movies/related/04.webp" card-title="Avengers" movie-time="1hr 45mins"}}
                </div>
                <div class="col mb-4">
                  {{>components/widgets/card-style card-image="movies/related/05.webp" card-title="Chosfies" movie-time="1hr 30mins"}}
                </div>
                <div class="col mb-4">
                  {{>components/widgets/card-style card-image="movies/related/06.webp" card-title="Tf Oaler" movie-time="1hr 30mins"}}
                </div>
                <div class="col mb-4">
                  {{>components/widgets/card-style card-image="movies/related/07.webp" card-title="Another Danger" movie-time="1hr 30mins"}}
                </div>
                <div class="col mb-4">
                    {{>components/widgets/card-style card-image="movies/popular/01.webp" card-title="CRW" movie-time="2hr 12mins"}}
                </div>
                <div class="col mb-4">
                    {{>components/widgets/card-style card-image="movies/popular/02.webp" card-title="Batte Wiire" movie-time="1hr 22mins"}}
                </div>
                <div class="col mb-4">
                    {{>components/widgets/card-style card-image="movies/popular/03.webp" card-title="Goal" movie-time="2hr 30mins"}}
                </div>
                <div class="col mb-4">
                    {{>components/widgets/card-style card-image="movies/popular/04.webp" card-title="Dandacg" movie-time="1hr 30mins"}}
                </div>
                <div class="col mb-4">
                    {{>components/widgets/card-style card-image="movies/popular/05.webp" card-title="mexcan" movie-time="1hr 30mins"}}
                </div>
                <div class="col mb-4">
                    {{>components/widgets/card-style card-image="movies/popular/06.webp" card-title="oit moleld" movie-time="1hr 30mins"}}
                </div>
                <div class="col mb-4">
                    {{>components/widgets/card-style card-image="movies/popular/07.webp" card-title="Another Danger" movie-time="1hr 30mins"}}
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}