$blue: rgba(8, 8, 235, 0.739);
$red: rgb(238, 78, 78);
$green: rgb(47, 182, 47);
$yellow: rgb(238, 238, 78);
$orange: rgb(238, 178, 78);
$purple: rgb(178, 78, 238);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(128, 128, 128);
$lightgray: rgb(192, 192, 192);
$darkgray: rgb(64, 64, 64);
