.movie {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.movie .movie-title {
  flex-grow: 1; /* flex-grow: 속성값이 1 이상이면 flex item의 원래 크기에 상관없이 flex container를 채우도록 flex item의 크기가 커진다. */
}

.movie .movie-year {
  font-size: 0.5rem;
  color: red;
}
