.box {
    width: 700px;
    text-align: center;
    margin: 20px;
    border: 1px solid gray;
}

hr {
    margin-top: 200px;
}

.container {
    display: flex;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
}

.child {
    width: 50px;
    height: 50px;
    background-color: red;
}
