.title {
    color: black;
}

#app {
    margin: 20px;
}

.movieTitle {
    display: block;
    color: black;
    text-decoration: none;
    border: 1px solid gray;
    width: 300px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.movieTitle:hover {
    background: gray;
}

.movieImage {
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
}