.App {
  width: 480px;
  margin: 20px;
  border: 1px solid gray;
}

.newsTitle {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  font-style: italic;
}

.newsTitle:hover {
  background: gray;
}

.unknown {
  color: red;
}