@media (max-width: 800px) {
    .small-red {
        background-color: red;
    }
}

@media (min-width: 800px) {
    .large-red {
        background-color: red;
    }
}

@media (max-width: 600px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 1000px) {
    .mobile {
        display: none;
    }
}
