/*index*/
[dir="rtl"] .mr-2,[dir="rtl"] .mx-2{margin: 0 !important;}
[dir="rtl"] .p-1{margin-left: 0.5em;}
[dir="rtl"] .mr-2{margin-left: 0.5rem !important; }
[dir="rtl"] .pl-2, [dir="rtl"] .px-2{padding: 0 !important;}
[dir="rtl"] .pl-2{padding-right: 0.5em !important;}
[dir="rtl"] .ml-3,[dir="rtl"] .mx-3{margin: 0;}
[dir="rtl"] .ml-2,[dir="rtl"] .mx-2{margin: 0 !important;}
[dir="rtl"] .ml-2{margin-right: 0.5rem !important; }
[dir="rtl"] .ml-3{margin-right: 1rem !important;}
[dir="rtl"] .mr-3,[dir="rtl"] .mx-3{margin: 0}
[dir="rtl"] .mr-3{margin-left: 0.5rem !important; }
[dir="rtl"] .mr-4, [dir="rtl"] .mx-4 {margin: 0 !important;}
[dir="rtl"] .mr-4, [dir="rtl"] .mx-4 { margin-left: 1.5rem!important;}
[dir="rtl"] .mt-2,[dir="rtl"]  .my-2 {margin-top: .5rem!important;}
[dir="rtl"] .ml-auto, [dir="rtl"] .mx-auto {margin:0;}
[dir="rtl"] .ml-auto{ margin-right: auto!important;}