// border setting
$border: 1px;
$border-0: 0px;
$border-half: $border / 2;
$border-2: $border * 2;
$border-3: $border * 3;
$border-4: $border * 4;
$border-5: $border * 5;
$border-6: $border * 6;
$border-7: $border * 7;
$border-8: $border * 8;
$border-9: $border * 9;
$border-10: $border * 10;
