// margin setting
$margin: 10px;
$margin-0: 0px;
$margin-half: $margin / 2;
$margin-20: $margin * 2;
$margin-30: $margin * 3;
$margin-40: $margin * 4;
$margin-50: $margin * 5;
$margin-60: $margin * 6;
$margin-70: $margin * 7;
$margin-80: $margin * 8;
$margin-90: $margin * 9;
$margin-100: $margin * 10;

// basic
$margin-top: $margin 0;
$margin-right: 0 $margin 0 0;
$margin-bottom: 0 $margin;
$margin-left: 0 0 $margin 0;

// font
$font-xxs: $margin / 2;
$font-xs: $margin;
$font-sm: $margin * 2;
$font-md: $margin * 3;
$font-lg: $margin * 4;
$font-xl: $margin * 5;
$font-xxl: $margin * 6;
