/* tag */
a {
  font-size: 50px;
  border: 1px solid gray;
  border-radius: 5px;
}

/* class */
.normalLink {
  color: blue;
}

.specialLink {
  color: red;
}

/* id */
#yang {
  color: orange;
}

/* 가상클래스 : , 가상요소 :: */
#yang:active {
  color: skyblue;
}

b {
  color: gray;
  font-family: monospace;
}

b:hover {
  color: black;
}

input:focus {
  background: pink;
}