.user {
    border: 1px solid gray;
}

.user > div:not(:last-child) {
    border-bottom: 1px solid gray;
}

.user > div > .userName {
    font-weight: bold;
}

.user > div > .userEmail {
    color: gray;
    font-size: 12px;
}