.movieTitle {
  display: block;
  text-decoration: none;
  color: gray;
  font-size: 22px;
  font-weight: bold;
}

.movieTitle:hover {
  color: pink;
}

.movieImg {
  width: 100px;
}

.movieRatingGood {
  color: blue;
}

.movieRatingSoso {
  color: orange;
}

.movieRatingBad {
  color: red;
}
