@import './styles/resources.scss';

.App {
  margin: 20px;
}

.navbarItem {
  font-size: $xl;
  border-radius: 10px;
  border: 1px solid white;
  background: $gray;
  color: $white;
  margin: 10px;
  padding: 5px;
}

h1 {
  font-size: $xl;
}
.langBtnContainer {
  margin-left: 50px;
}

.langBtn {
  font-size: $sm;
  border-radius: 10px;
  border: 1px solid $white;
  background: $pink;
  color: $white;
  padding: 5px;
}