<!-- Movie Source Start -->
<div class="content-details trending-info">
  <ul class="iq-custom-tab tab-bg-gredient-center d-flex nav nav-pills align-items-center text-center mb-5 justify-content-center list-inline"
    role="tablist">
    <li class="nav-item">
      <a class="nav-link active show" data-bs-toggle="pill" href="#description-01" role="tab" aria-selected="true">
        Description
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#review-01" role="tab" aria-selected="false">
        Rate &amp; Review
      </a>
    </li>
    {{#compare isThird "!=" "false"}}
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#source-01" role="tab" aria-selected="false">
        Sources
      </a>
    </li>
    {{/compare}}
  </ul>
  <div class="tab-content">
    <div id="description-01" class="tab-pane animated fadeInUp active show" role="tabpanel">
      <div class="description-content">
        <p>
          Zombie Island is a 1998 direct-to-video animated comedy horror film
          based on Hanna-Barbera's Scooby-Doo Saturday-morning cartoons. In the
          film, Shaggy, Scooby, Fred, Velma, and Daphne reunite after a
          year-long hiatus from Mystery, Inc. to investigate a bayou island said
          to be haunted by the ghost of the pirate Morgan Moonscar. The film was
          directed by Jim Stenstrum, from a screenplay by Glenn Leopold.
        </p>
      </div>
    </div>
    <div id="review-01" class="tab-pane animated fadeInUp" role="tabpanel">
      <div class="streamit-reviews">
        <div id="comments" class="comments-area validate-form">
          <p class="masvideos-noreviews mt-3">
            There are no reviews yet.
          </p>
        </div>
        <div class="review_form">
          <div class="comment-respond">
            <h3 class="fw-500 my-2">
              Be the first to review “Zombie Island”
            </h3>
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="mb-2">
                          Your review
                          <span class="required">
                          *
                          </span>
                      </label>
                      <textarea class="form-control" name="comment" cols="5" rows="8" required=""></textarea>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="mb-2">
                          Name
                          <span class="required">
                          *
                          </span>
                      </label>
                      <input class="form-control" name="author" type="text" value="" size="30" required="" />
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="mb-2">
                          Email&nbsp;
                          <span class="required">
                          *
                          </span>
                      </label>
                      <input class="form-control" name="email" type="email" value="" size="30" required="" />
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="mt-3 mt-3 d-flex gap-2 align-items-center">
                      <input class="form-check-input mt-0" type="checkbox" value="" id="check1" checked />
                      <label class="form-check-label" for="check1">
                          Save my name, email, and website in this browser for the
                          next time I comment.
                      </label>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-submit mt-4">
                      <div class="iq-button">
                          <button name="submit" type="submit" id="submit" class="btn text-uppercase position-relative" value="Submit">
                              <span class="button-text">Submit</span>
                              <i class="fa-solid fa-play"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>  
          </div>
        </div>
      </div>
    </div>
    {{#compare isThird "!=" "false"}}
    <div id="source-01" class="tab-pane animated fadeInUp" role="tabpanel">
      <div class="source-list-content table-responsive">
        <table class="table custom-table">
          <thead>
            <tr>
              <th>
                Links
              </th>
              <th>
                Quality
              </th>
              <th>
                Language
              </th>
              <th>
                Player
              </th>
              <th>
                Date Added
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="iq-button">
                  <a href="{{path}}movie-detail.html" class="btn text-uppercase position-relative">
                    <span class="button-text"> Play Now</span>
                    <i class="fa-solid fa-play"></i>                 
                  </a>
                </div>
              </td>
              <td>
                1080p
              </td>
              <td>
                english
              </td>
              <td>
                MusicBee
              </td>
              <td>
                2021-11-28
              </td>
            </tr>
            <tr>
              <td>
                <div class="iq-button">
                  <a href="{{path}}movie-detail.html" class="btn text-uppercase position-relative">
                    <span class="button-text"> Play Now</span>
                    <i class="fa-solid fa-play"></i>                 
                  </a>
                </div>
              </td>
              <td>
                800p
              </td>
              <td>
                english
              </td>
              <td>
                5KPlayer
              </td>
              <td>
                2021-11-25
              </td>
            </tr>
            <tr>
              <td>
                <div class="iq-button">
                  <a href="{{path}}movie-detail.html" class="btn text-uppercase position-relative">
                    <span class="button-text"> Play Now</span>
                    <i class="fa-solid fa-play"></i>                 
                  </a>
                </div>
              </td>
              <td>
                720p
              </td>
              <td>
                English
              </td>
              <td>
                MediaMonkey
              </td>
              <td>
                2021-11-20
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {{/compare}}
  </div>
</div>
<!-- Movie Source End -->