<div class="category-inner position-relative">
  <div class="category_image">
    <a href="shop/shop.html">
      <img src="{{path}}assets/images/shop/categories/{{shopsellingImg}}" class="img-fluid" alt="catImg-{{id}}" />
    </a>
    <div class="category-details">
      <h5 class="category-title">
        <a href="shop/shop.html">
          {{shopsellingText}}
        </a>
      </h5>
    </div>
  </div>
</div>