<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script
            src="https://unpkg.com/obniz@3.23.0/obniz.js"
            crossorigin="anonymous"
        ></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <div id="obniz-debug"></div>
        <div class="container">
            <h3>프린트</h3>
            <div>
                <input id="target" type="text" value="Hello World" />
                <button id="send" class="btn btn-primary">프린트하기</button>
            </div>
        </div>

        <script>
            // 접속
            var obniz = new Obniz("4724-7199");
            obniz.onconnect = async function() {
                // 처음 화면 초기화
                obniz.display.clear();
                obniz.display.print("Hello World");
                // 프린트 버튼 클릭하면
                $("#send").on("click", function() {
                    // 인풋 내용을 print한다.
                    obniz.display.clear();
                    obniz.display.print($("#target").val());
                });
            };
        </script>
    </body>
</html>
