<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ appName }} | Responsive Bootstrap 5 Template</title>
  {{> components/partials/head }}
  {{#block "head"}}
  {{/block}}
</head>

<body class=" {{bodyClass}} {{#compare dark '===' 'true'}} dark {{/compare}}">
  <span class="screen-darken"></span>
  <!-- loader Start -->
  {{> components/partials/loader }}
  <!-- loader END -->
  <main class="main-content">
      <!--Nav Start-->
      {{#compare isHeader '==' 'true'}}
      {{> components/partials/header/header}}
      {{/compare}}
      {{#compare isHeaderMerchandise '==' 'true'}}
      {{> components/partials/header/header-merchandise}}
      {{/compare}}
      <!--Nav End-->

      <!--bread-crumb-->
      {{#compare isBreadcrumb '==' 'true'}}
      {{> components/partials/bread-crumb}}
      {{/compare}}
      <!--bread-crumb-->

    {{#block "content"}}
    {{/block}}
  </main>

  {{#compare isFooter '==' 'true'}}
  {{> components/partials/footer/footer}}
  {{/compare}}

  {{#compare isFooterMerchandise '==' 'true'}}
  {{> components/partials/footer/footer-merchandise}}
  {{/compare}}

  {{> components/partials/setting }}
  {{> components/partials/back-to-top }}
  <!-- Wrapper End-->
  {{> components/partials/script }}
  {{#block "scripts"}}
  {{/block}}
</body>

</html>