<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- menu -->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create">Create User</a></li>
      <li><a href="/update">Update User</a></li>
      <li><a href="/delete">Delete User</a></li>
      <li><a href="/login">Login</a></li>
    </ul>

    <h1>Delete User</h1>
    <form id="deleteForm">
      <!-- TODO: STOREから「ログインしているIDの情報」を生かして、表示だけするように変更 -->
      <input
        type="text"
        id="userId"
        placeholder="Delete Target (ID)"
        required
      />
      <button type="submit">Delete</button>
    </form>

    <script>
      document.getElementById("deleteForm").addEventListener("submit", (e) => {
        e.preventDefault()

        const userId = document.getElementById("userId").value

        fetch(`http://localhost:8080/users/delete/${userId}`, {
          method: "DELETE",
        })
          .then((res) => res.json())
          .then((data) => {
            console.log(data)
          })
          .finally(() => {
            alert("Delete Success")
            document.getElementById("userId").value = ""
            window.location.href = "/"
          })
      })
    </script>
  </body>
</html>
