{{#extend layout title="View All" active="view-all-product" isHeader="true" isFooter="true" path="../" isBreadcrumb="true" }}
{{#content "content"}}
<section class="section-padding">
    <div class="container-fluid">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
            <div class="col mb-5">
                 {{> components/widgets/product-card ProductImg="01.webp" id="01" shopTitle="Black Bow"  shopSale="Sale!" bgShop="primary"
               shopDel="$48.00" shopPrice="$28.00"  rating="4"}}
            </div>
            <div class="col mb-5">
                {{> components/widgets/product-card ProductImg="02.webp" id="02" shopTitle="Believe Mask"
               shopDel="" shopPrice="$13.00" rating='4'}}
            </div>
            <div class="col mb-5">
                {{> components/widgets/product-card ProductImg="03.webp" id="03" shopTitle="Black Bow" shopSale="Sale!"
               shopDel="" shopPrice="$18.00 - $45.00" rating='5'}}
            </div>
            <div class="col mb-5">
                {{> components/widgets/product-card ProductImg="04.webp" id="04" shopTitle="Black Cap" shopSale="New!" bgShop="dark"
               shopDel="$20.00" shopPrice="$18.00" rating='5'}}
            </div>
            <div class="col mb-5">
                {{> components/widgets/product-card ProductImg="05.webp" id="05" shopTitle="Boxing Gloves"
               shopDel="$20.00" shopPrice="$18.00" rating='5'}}
            </div>
             <div class="col mb-5">
                 {{> components/widgets/product-card ProductImg="01.webp" id="06" shopTitle="Black Bow"  shopSale="Sale!" bgShop="primary"
               shopDel="$48.00" shopPrice="$28.00"  rating="4"}}
            </div>
            <div class="col mb-5">
                {{> components/widgets/product-card ProductImg="02.webp" id="07" shopTitle="Believe Mask"
               shopDel="" shopPrice="$13.00" rating='4'}}
            </div>
            <div class="col mb-5">
                {{> components/widgets/product-card ProductImg="03.webp" id="08" shopTitle="Black Bow" shopSale="Sale!"
               shopDel="" shopPrice="$18.00 - $45.00" rating='5'}}
            </div>
            <div class="col mb-5">
                {{> components/widgets/product-card ProductImg="04.webp" id="09" shopTitle="Black Cap" shopSale="New!" bgShop="dark"
               shopDel="$20.00" shopPrice="$18.00" rating='5'}}
            </div>
            <div class="col mb-5">
                {{> components/widgets/product-card ProductImg="05.webp" id="10" shopTitle="Boxing Gloves"
               shopDel="$20.00" shopPrice="$18.00" rating='5'}}
            </div>
        </div>
    </div>
</section>
{{/content}}
{{/extend}}