.movieListItem {
    margin-bottom: 10px;
}

.movieTitle {
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    width: 500px;
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
}

.movieTitle:hover {
    background: gray;
}

.movieImage {
    width: 500px;
    margin-bottom: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.movieRating {
    margin-bottom: 5px;
}

.movieRating .ratingGood {
    color: blue;
}

.movieRating .ratingSoso {
    color: orange;
}

.movieRating .ratingBad {
    color: red;
}
