$blue: blue;
$red: #ff6666;
$light-gray: lightgray;
$gray: gray;
$white: #FFF;
$black: #000;
$pink: pink;
$yellow: orange;

@mixin button-color($color) {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  background: $color;

  &:hover {
    background: lighten($color, 10%);
  }

  &:active {
    background: darken($color, 10%);
  }
}