@mixin title-button ($color) {
  font-size: $font-xl;
  font-weight: bold;
  border: 1px solid $color;
  border-radius: 5px;
  width: 500px;
  padding: 0 10px;
  text-align: center;

  &:hover {
    color: $text-white;
    background: $color;
  }
}