$red: rgb(255, 5, 5);
$blue: rgb(5, 5, 255);
$green: rgb(5, 255, 5);
$yellow: rgb(255, 255, 5);
$orange: rgb(255, 165, 0);
$purple: rgb(255, 5, 255);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(128, 128, 128);
$lightgray: rgb(192, 192, 192);
$darkgray: rgb(64, 64, 64);
$lightblue: skyblue;
$lightgreen: rgb(0, 255, 0);
$lightyellow: rgb(255, 255, 0);
