{{#extend layout title="season" isBanner="false" ActiveLink="TVShows" active="season" isSelect2="true"
isSweetalert="true" path="../../" }}
{{#content "content"}}
<div class="row">
    <div class="col-sm-12">
        <div class="card pb-3">
            <div class="card-header border-bottom d-flex justify-content-between align-items-center py-3">
                <div class="d-flex align-items-center mt-3 gap-2">
                    <div class="form-group mb-0">
                        <select type="select" class="form-control select2-basic-multiple" placeholder="No Action">
                            <option>No Action</option>
                            <option>Status</option>
                            <option>Delete</option>
                        </select>
                    </div>
                    <button class="btn btn-primary ">Apply</button>
                </div>
                <button class="btn btn-primary mt-3" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#season-offcanvas" aria-controls="season-offcanvas">
                    <i class="fa-solid fa-plus me-2"></i>Add Season
                </button>
            </div>
            <div class="card-body">
                <div class="table-view table-responsive pt-3 table-space">
                    <table id="seasonTable" class="data-tables table custom-table movie_table" data-toggle="data-table">
                        <thead>
                            <tr class="text-uppercase">
                                <th class="text-center">
                                    <input type="checkbox" class="form-check-input" />
                                </th>
                                <th>Show</th>
                                <th>Quality</th>
                                <th>Category</th>
                                <th>Publish Date</th>
                                <th>Show Access</th>
                                <th>Seo</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{> components/widgets/data-table
                            name="arrival 1999"
                            thumbnail="movie-thumb/03.jpg"
                            quality="480/720/1080"
                            duration="2h 21m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi"
                            value="checked"
                            }}

                            {{> components/widgets/data-table name="day of darkness"
                            thumbnail="movie-thumb/04.jpg"
                            quality="480/720/1080"
                            duration="2h 40m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi" }}

                            {{> components/widgets/data-table name="don jon"
                            thumbnail="movie-thumb/05.jpg"
                            quality="480/720/1080"
                            duration="3h"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi"
                            value="checked" }}

                            {{> components/widgets/data-table name="mega fun"
                            thumbnail="movie-thumb/06.jpg"
                            quality="480/720/1080"
                            duration="2h 21m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi" }}

                            {{> components/widgets/data-table name="my true friends"
                            thumbnail="movie-thumb/07.jpg"
                            quality="480/720/1080"
                            duration="2h 21m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi" }}

                            {{> components/widgets/data-table name="night mare"
                            thumbnail="movie-thumb/08.jpg"
                            quality="480/720/1080"
                            duration="2h 21m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi"
                            value="checked" }}

                            {{> components/widgets/data-table name="portable"
                            thumbnail="movie-thumb/09.jpg"
                            quality="480/720/1080"
                            duration="2h 21m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi" }}

                            {{> components/widgets/data-table name="suffered"
                            thumbnail="movie-thumb/10.jpg"
                            quality="480/720/1080"
                            duration="2h 21m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi" }}

                            {{> components/widgets/data-table name="the witcher"
                            thumbnail="movie-thumb/02.jpg"
                            quality="480/720/1080"
                            duration="2h 21m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi" }}

                            {{> components/widgets/data-table name="troll hunter"
                            thumbnail="movie-thumb/01.jpg"
                            quality="480/720/1080"
                            duration="2h 21m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi"
                            value="checked" }}

                            {{> components/widgets/data-table name="troll hunter"
                            thumbnail="movie-thumb/01.jpg"
                            quality="480/720/1080"
                            duration="2h 21m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi" }}

                            {{> components/widgets/data-table name="troll hunter"
                            thumbnail="movie-thumb/01.jpg"
                            quality="480/720/1080"
                            duration="2h 21m"
                            genres=["action", "fight", "thriller", "etc"]
                            date="2010"
                            subtitles="english, hindi" }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{!-- add --}}
        <div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas"
            aria-labelledby="season-offcanvas-lable">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel1">Add New Season</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form action="" class="section-form">
                    <fieldset>
                        <legend>Seasons</legend>
                        <div class="form-group">
                            {{> components/partials/input-field label="Seasons" isRequied="true" type="number"
                            placeholder="1" min="1"}}
                            {{> components/partials/input-field label="Description" type="textarea"
                            placeholder="Description" }}
                            <div class="form-group px-3">
                                <label class="form-label flex-grow-1" for="shows"><strong>Show:</strong></label>
                                <select id="shows" type="select" class="form-control select2-basic-multiple">
                                    <option>abc</option>
                                    <option>xyz</option>
                                    <option>mno</option>
                                    <option>stu</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="offcanvas-footer border-top">
                <div class="d-grid d-flex gap-3 p-3">
                    <button type="submit" class="btn btn-primary d-block">
                        <i class="fa-solid fa-floppy-disk me-2"></i>Save
                    </button>
                    <button type="button" class="btn btn-outline-primary d-block" data-bs-dismiss="offcanvas"
                        aria-label="Close">
                        <i class="fa-solid fa-angles-left me-2"></i>Close
                    </button>
                </div>
            </div>
        </div>
        {{!-- edit --}}
        <div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas-edit"
            aria-labelledby="season-offcanvas-lable">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel1">Edit Season</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form action="" class="section-form">
                    <fieldset>
                        <legend>Seasons</legend>
                        <div class="form-group">
                            {{> components/partials/input-field label="Seasons" isRequied="true" type="number"
                            placeholder="1" min="1" value="07"}}
                            {{> components/partials/input-field label="Description" type="textarea"
                            placeholder="Description"
                            value="Lorem Ipsum is simply dummy text of the printing and typesetting industry" }}

                            <div class="form-group px-3">
                                <label class="form-label flex-grow-1" for="shows1"><strong>Show:</strong></label>
                                <select id="show1" type="select" class="form-control select2-basic-multiple">
                                    <option>abc</option>
                                    <option selected>xyz</option>
                                    <option>mno</option>
                                    <option>stu</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="offcanvas-footer border-top">
                <div class="d-grid d-flex gap-3 p-3">
                    <button type="submit" class="btn btn-primary d-block">
                        <i class="fa-solid fa-floppy-disk me-2"></i>Save
                    </button>
                    <button type="button" class="btn btn-outline-primary d-block" data-bs-dismiss="offcanvas"
                        aria-label="Close">
                        <i class="fa-solid fa-angles-left me-2"></i>Close
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

{{/content}}
{{/extend}}