.title {
    font-size: 30px;
    color: gray;
}

a {
    display: block;
    font-size: 18px;
    color: black;
    border: 1px solid gray;
    width: 500px;
    text-decoration: none;
    margin-bottom: 5px;
}

a:hover {
    background: gray;
}

img {
    border: 1px solid gray;
    border-radius: 10px;
}

.good {
    color: blue;
}

.soso {
    color: orange;
}

.bad {
    color: red;
}
