{{#extend layout title="ui-progressbars" active="ui-progressbars" path="../../" isBanner="false" }}
{{#content "content"}}
<div class="row">
   <div class="col-sm-12 col-lg-6">
      <div class="card">
         <div class="card-header d-flex justify-content-between">
            <div class="header-title">
               <h4 class="card-title">Examples</h4>
            </div>
         </div>
         <div class="card-body">
            <p>Progress components are built with two HTML elements, some CSS to set the width, and a few attributes. We
               don’t use <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress">the HTML5
                  <code>&lt;progress&gt;</code> element</a>, ensuring you can stack progress bars, animate them, and
               place text labels over them.</p>
            <ul>
               <li>We use the <code>.progress</code> as a wrapper to indicate the max value of the progress bar.</li>
               <li>We use the inner <code>.progress-bar</code> to indicate the progress so far.</li>
               <li>The <code>.progress-bar</code> requires an inline style, utility class, or custom CSS to set their
                  width.</li>
               <li>The <code>.progress-bar</code> also requires some <code>role</code> and <code>aria</code> attributes
                  to make it accessible.</li>
            </ul>
            <p>Put that all together, and you have the following examples.</p>
            <div class="progress mb-3">
               <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
               </div>
            </div>
            <div class="progress mb-3">
               <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
               <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
               <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100"></div>
            </div>
            <div class="progress">
               <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                  aria-valuemax="100"></div>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-header d-flex justify-content-between">
            <div class="header-title">
               <h4 class="card-title">Height</h4>
            </div>
         </div>
         <div class="card-body">
            <p>We only set a <code>height</code> value on the <code>.progress</code>, so if you change that value the
               inner <code>.progress-bar</code> will automatically resize accordingly.</p>
            <div class="progress mb-3" style="height: 3px;">
               <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
            </div>
            <div class="progress mb-3" style="height: 10px;">
               <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100">50%</div>
            </div>
            <div class="progress mb-3" style="height: 15px;">
               <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">75%</div>
            </div>
            <div class="progress" style="height: 20px;">
               <div class="progress-bar" role="progressbar" style="width: 99%;" aria-valuenow="99" aria-valuemin="0"
                  aria-valuemax="100">99%</div>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-header d-flex justify-content-between">
            <div class="header-title">
               <h4 class="card-title">Animated stripes</h4>
            </div>
         </div>
         <div class="card-body">
            <p>The striped gradient can also be animated. Add <code>.progress-bar-animated</code> to
               <code>.progress-bar</code> to animate the stripes right to left via CSS3 animations.</p>
            <div class="progress mb-3">
               <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
            <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-12 col-lg-6">
      <div class="card">
         <div class="card-header d-flex justify-content-between">
            <div class="header-title">
               <h4 class="card-title">Labels</h4>
            </div>
         </div>
         <div class="card-body">
            <p>Add labels to your progress bars by placing text within the <code>.progress-bar</code>.</p>
            <div class="progress mb-3">
               <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
            </div>
            <div class="progress mb-3">
               <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100">50%</div>
            </div>
            <div class="progress mb-3">
               <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">75%</div>
            </div>
            <div class="progress">
               <div class="progress-bar" role="progressbar" style="width: 99%;" aria-valuenow="99" aria-valuemin="0"
                  aria-valuemax="100">99%</div>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-header d-flex justify-content-between">
            <div class="header-title">
               <h4 class="card-title">Backgrounds</h4>
            </div>
         </div>
         <div class="card-body">
            <p>Use background utility classes to change the appearance of individual progress bars.</p>
            <div class="progress mb-3">
               <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
               <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
               <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                  aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
               <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-header d-flex justify-content-between">
            <div class="header-title">
               <h4 class="card-title">Multiple bars</h4>
            </div>
         </div>
         <div class="card-body">
            <p>Include multiple progress bars in a progress component if you need.</p>
            <div class="progress">
               <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
                  aria-valuemax="100"></div>
               <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                  aria-valuemin="0" aria-valuemax="100"></div>
               <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20"
                  aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-header d-flex justify-content-between">
            <div class="header-title">
               <h4 class="card-title">Striped</h4>
            </div>
         </div>
         <div class="card-body">
            <p>Add <code>.progress-bar-striped</code> to any <code>.progress-bar</code> to apply a stripe via CSS
               gradient over the progress bar’s background color.</p>
            <div class="progress mb-3">
               <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
                  aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
               <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
               <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%"
                  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mb-3">
               <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
               <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%"
                  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
      </div>
   </div>
</div>
{{/content}}
{{/extend}}