{{#extend layout title="Cast" active="cast" isHeader="true" isFooter="true" path="./" isBreadcrumb="true"}}
{{#content "content"}}
    <section class="section-padding">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-6">
                <div class="col">
                    {{> components/widgets/cast castImg="01.webp" id="01" castTime="8.4" castTitle="Debbi
                Bossi" castSubTitle="Production" castLink="person-detail.html" }}
                </div>
                <div class="col">
                    {{> components/widgets/cast castImg="02.webp" id="02" castTime="9" castTitle="Karen
                Gilchrist" castSubTitle="Production" castLink="person-detail.html" }}
                </div>
                <div class="col">
                    {{> components/widgets/cast castImg="03.webp" id="03" castTime="9.9" castTitle="James
                Chinlund" castSubTitle="Art" castLink="person-detail.html" }}
                </div>
                <div class="col">
                    {{> components/widgets/cast castImg="04.webp" id="04" castTime="8.5" castTitle="Brenda
                Chapman" castSubTitle="Writing" castLink="person-detail.html" }}
                </div>
                <div class="col">
                    {{> components/widgets/cast castImg="05.webp" id="05" castTime="9.4" castTitle="Mark
                Livolsi" castSubTitle="Editing" castLink="person-detail.html" }}
                </div>
                <div class="col">
                     {{> components/widgets/cast castImg="06.webp" id="06" castTime="9.4" castTitle="Caleb
                Deschannel" castSubTitle="Camera" castLink="person-detail.html" }}
                </div>
                <div class="col">
                    {{> components/widgets/cast castImg="02.webp" id="07" castTime="10" castTitle="Hans
                Zimmer" castSubTitle="Sound" castLink="person-detail.html" }}
                </div>
                <div class="col">
                   {{> components/widgets/cast castImg="01.webp" id="08" castTime="9" castTitle="John
                Bartnicki" castSubTitle="Production" castLink="person-detail.html" }}
                </div>
                <div class="col">
                    {{> components/widgets/cast castImg="04.webp" id="09" castTime="8.1" castTitle="Jeffrey
                Silver" castSubTitle="Production" castLink="person-detail.html" }}
                </div>
                <div class="col">
                   {{> components/widgets/cast castImg="05.webp" id="10" castTime="9.3" castTitle="Linda
                Wolverton" castSubTitle="Writing" castLink="person-detail.html" }}
                </div>
                <div class="col">
                   {{> components/widgets/cast castImg="06.webp" id="11" castTime="9.7" castTitle="Johnathon
                Roberts" castSubTitle="Writing" castLink="person-detail.html" }}
                </div>
                <div class="col">
                    {{> components/widgets/cast castImg="01.webp" id="12" castTime="9.4" castTitle="Irene
                Mecchi" castSubTitle="Writing" castLink="person-detail.html" }}
                </div>
            </div>
            <div class="text-center">
                {{> components/widgets/custom-button button-title="load more" button-url="javascript:void(0)"}}
            </div>
        </div>
    </section>
{{/content}}
{{/extend}}