.movie {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .movie .movieImage {
    display: flex;
    align-items: center;  
    width: auto;
    height: 100px;
    border-radius: 6px;
    border: 1px solid gray;
  }
  
  .movie .movieTitle {
    display: flex;
    align-items: center;
    font-size: 22px;
    padding-left: 20px;
    flex-grow: 1;
    text-decoration: none;
    color: black;
  }
  
  .movie .movieTitle:hover {
    background-color: pink;
  }
  
  .movie .movieYear {
    font-size: 0.5rem;
    color: red;
  }
  
  .movie .movieRating{
    padding-left: 10px;
  }
  
  .good {
    color: blue;
  }
  
  .soso {
    color: yellowgreen;
  }
  
  .bad {
    color: red;
  }
