<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스: 사이트 제원 (타 개발자의 패턴: JOIN SQL문 활용, 코드수를 줄인 패턴) -->		
<mapper namespace="jp.co.[company_name].[main_system_name].is.mapper.DesignSiteMapper">

<!-- 인터페이스(bean) 위치: [app_name]\src\main\java\jp\co\[company_name]\[main_system_name]\is\mapper\DesignSiteMapper.java -->

	<!-- 
		resultMap: 최초 작업량은 약간 증가하지만 resultMap에서 개별속성이름과 DB컬럼이름을 매핑해두면 
			나중에 DB측에서 컬럼 이름이 변경되어도이 XML만 수정하면 Java쪽 DTO의 프로퍼티명과 달라져도
			사용이 가능하다.
		주의사항: select의 resultType 옵션을 resultMap으로 바꿔야함 
	-->	
	<resultMap id="DesignSiteMap" type="jp.co.[company_name].[main_system_name].is.entity.DesignSiteEntity" >
		<result column="site_id" property="siteId" jdbcType="VARCHAR" />
		<result column="spec_id" property="specId" jdbcType="VARCHAR" />
		<result column="spec_name" property="specName" jdbcType="VARCHAR" />
		<result column="area_cd" property="areaCd" jdbcType="VARCHAR" />
		<result column="latitude_deg" property="latitudeDeg" jdbcType="VARCHAR" />
		<result column="longitude_deg" property="longitudeDeg" jdbcType="VARCHAR" />
		<result column="pref_cd" property="prefCd" jdbcType="VARCHAR" />
		<result column="pref_kana" property="prefKana" jdbcType="VARCHAR" />
		<result column="city_cd" property="cityCd" jdbcType="VARCHAR" />
		<result column="city_kana" property="cityKana" jdbcType="VARCHAR" />
		<result column="detail_address_nm" property="detailAddressNm" jdbcType="VARCHAR" />
		<result column="detail_address_kana" property="detailAddressKana" jdbcType="VARCHAR" />
		<result column="property_nm" property="propertyNm" jdbcType="VARCHAR" />
		<result column="property_kana" property="propertyKana" jdbcType="VARCHAR" />
		<result column="ground_level" property="groundLevel" jdbcType="VARCHAR" />
		<result column="salt_damage_flg" property="saltDamageFlg" jdbcType="VARCHAR" />
		<result column="multi_thunder_flg" property="multiThunderFlg" jdbcType="VARCHAR" />
		<result column="snow_depth" property="snowDepth" jdbcType="VARCHAR" />
		<result column="property_kind" property="propertyKind" jdbcType="VARCHAR" />
		<result column="land_type" property="landType" jdbcType="VARCHAR" />
		<result column="subscriber_gc_bbt_cd" property="subscriberGcBbtCd" jdbcType="VARCHAR" />
		<result column="subscriber_gc_bbt_name" property="subscriberGcBbtName" jdbcType="VARCHAR" />
		<result column="foundational_base_flg" property="foundationalBaseFlg" jdbcType="VARCHAR" />
		<result column="nearby_cd_docomo" property="nearbyCdDocomo" jdbcType="VARCHAR" />
		<result column="nearby_cd_kddi" property="nearbyCdKddi" jdbcType="VARCHAR" />
		<result column="nearby_cd_uq" property="nearbyCdUq" jdbcType="VARCHAR" />
		<result column="nearby_cd_rakuten" property="nearbyCdRakuten" jdbcType="VARCHAR" />
		<result column="nearby_cd_other" property="nearbyCdOther" jdbcType="VARCHAR" />
		<result column="nearby_operator_name" property="nearbyOperatorName" jdbcType="VARCHAR" />
		<result column="tatsuki_flg" property="tatsukiFlg" jdbcType="VARCHAR" />
		<result column="g5j_site_id" property="g5jSiteId" jdbcType="VARCHAR" />
		<result column="g5j_site_status" property="g5jSiteStatus" jdbcType="VARCHAR" />
		<result column="g5j_site_leadcorp" property="g5jSiteLeadcorp" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 검색: 사이트 제원을 불러온다. -->
	<select id="select"  parameterType="string" resultMap="DesignSiteMap">
		WITH spec AS (
		  WITH spec_tmp AS (
		    WITH dummy AS (SELECT 1)
		    , param_spec_id AS (SELECT UNNEST (ARRAY [ #{specId} ]) spec_id)
		    , param_area_cd AS (
		      SELECT
		        UNNEST (
		          ARRAY [
		            'JPD',
		            'JPH',
		            'JPT',
		            'JPC',
		            'JPK',
		            'JPR',
		            'JPN',
		            'JPS',
		            'JPQ',
		            'JPE'
		          ]
		        ) area_cd
		    )
		    SELECT DISTINCT
		      spec.site_id
		      , spec.spec_id
		      , spec.spec_name
		      , spec.update_user
		      , spec.version_no
		      , spec.vendor_staff_name
		      , spec.sb_staff_cd
		      , spec.sb_staff_cd AS sb_staff_name
		      , spec.spqc_create_date
		      , spec.update_date
		      , spec.vendor_cd
		      , spec.spec_sts
		      , spec.priority
		      , spec.after_spec_accept_cd
		    FROM
		      tb_trn_deg_specification spec
		      INNER JOIN param_spec_id
		        ON spec.spec_id = param_spec_id.spec_id
		      INNER JOIN tb_trn_isz_site i_site
		        ON i_site.site_id = spec.site_id
		      INNER JOIN param_area_cd
		        ON i_site.area_cd = param_area_cd.area_cd
		    WHERE
		      spec.delete_flg = '0'
		      AND spec.spec_sts IN ('0', '1')
		      AND spec.spec_state_cls IN ('01')
		  )
		  SELECT
		    spec_tmp.*
		  FROM
		    spec_tmp
		)
		SELECT
		  spec.site_id
		  , spec.spec_id
		  , spec.spec_name
		  , code_area_name.code_logical_nm AS area_cd
		  , site.latitude_deg
		  , site.longitude_deg
		  , pref.value_1 AS pref_cd
		  , pref.value_3 AS pref_kana
		  , address.city_name AS city_cd
		  , address.city_kana_name AS city_kana
		  , site.detail_address_nm
		  , site.detail_address_kana
		  , site.property_nm
		  , site.property_kana
		  , site.ground_level
		  , code_salt_damage.code_logical_nm AS salt_damage_flg
		  , code_multi_thunder.code_logical_nm AS multi_thunder_flg
		  , site.snow_depth
		  , cmp_property_kind.value_1 AS property_kind
		  , site.land_type
		  , site.subscriber_gc_bbt_cd
		  , bbt.bbt_bureau_name AS subscriber_gc_bbt_name
		  , code_foundational_base.code_logical_nm AS foundational_base_flg
		  , code_docomo.code_logical_nm AS nearby_cd_docomo
		  , code_kddi.code_logical_nm AS nearby_cd_kddi
		  , code_uq.code_logical_nm AS nearby_cd_uq
		  , code_rakuten.code_logical_nm AS nearby_cd_rakuten
		  , code_other.code_logical_nm AS nearby_cd_other
		  , site.nearby_operator_name
		  , code_tatsuki_flg.code_logical_nm AS tatsuki_flg
		  , i_site.g5j_site_id
		  , code_g5j_status.code_logical_nm AS g5j_site_status
		  , code_g5j_leadcorp.code_logical_nm AS g5j_site_leadcorp
		FROM
		  spec
		  <!-- JOIN을 통해 여러 테이블로부터 속성들을 가져와 spec 테이블의 속성들을 구성한다. -->
		  INNER JOIN tb_trn_sp_deg_site site
		    ON spec.spec_id = site.spec_id
		    AND spec.site_id = site.site_id
		    AND site.delete_flg = '0'
		  INNER JOIN tb_trn_isz_site i_site
		    ON spec.site_id = i_site.site_id
		  LEFT OUTER JOIN tb_mst_generic_code code_area_name
		    ON code_area_name.category_cd = '0000000010'
		    AND i_site.area_cd = code_area_name.code
		    AND code_area_name.delete_flg = '0'
		    AND code_area_name.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_cmp_key_val pref
		    ON pref.category_cd = '0000000004'
		    AND pref.key_1 = i_site.area_cd
		    AND pref.key_2 = site.pref_cd
		    AND pref.delete_flg = '0'
		    AND pref.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_address address
		    ON site.pref_cd = address.pref_cd
		    AND site.city_cd = address.city_cd
		    AND address.delete_flg = '0'
		    AND address.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_salt_damage
		    ON code_salt_damage.category_cd = '0000000085'
		    AND site.salt_damage_flg = code_salt_damage.code
		    AND code_salt_damage.delete_flg = '0'
		    AND code_salt_damage.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_multi_thunder
		    ON code_multi_thunder.category_cd = '0000000036'
		    AND site.multi_thunder_flg = code_multi_thunder.code
		    AND code_multi_thunder.delete_flg = '0'
		    AND code_multi_thunder.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_cmp_key_val cmp_property_kind
		    ON cmp_property_kind.category_cd = '0000000003'
		    AND site.property_kind = cmp_property_kind.key_1
		    AND cmp_property_kind.delete_flg = '0'
		    AND cmp_property_kind.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_bbt_cd bbt
		    ON site.subscriber_gc_bbt_cd = bbt.bbt_cd
		    AND bbt.delete_flg = '0'
		    AND bbt.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_docomo
		    ON code_docomo.category_cd = '0000000037'
		    AND site.nearby_cd_docomo = code_docomo.code
		    AND code_docomo.delete_flg = '0'
		    AND code_docomo.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_kddi
		    ON code_kddi.category_cd = '0000000037'
		    AND site.nearby_cd_kddi = code_kddi.code
		    AND code_kddi.delete_flg = '0'
		    AND code_kddi.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_uq
		    ON code_uq.category_cd = '0000000037'
		    AND site.nearby_cd_uq = code_uq.code
		    AND code_uq.delete_flg = '0'
		    AND code_uq.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_rakuten
		    ON code_rakuten.category_cd = '0000000037'
		    AND site.nearby_cd_rakuten = code_rakuten.code
		    AND code_rakuten.delete_flg = '0'
		    AND code_rakuten.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_other
		    ON code_other.category_cd = '0000000037'
		    AND site.nearby_cd_other = code_other.code
		    AND code_other.delete_flg = '0'
		    AND code_other.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_foundational_base
		    ON code_foundational_base.category_cd = '0000000036'
		    AND site.foundational_base_flg = code_foundational_base.code
		    AND code_foundational_base.delete_flg = '0'
		    AND code_foundational_base.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_tatsuki_flg
		    ON code_tatsuki_flg.category_cd = '0000000014'
		    AND site.tatsuki_flg = code_tatsuki_flg.code
		    AND code_tatsuki_flg.delete_flg = '0'
		    AND code_tatsuki_flg.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_g5j_status
		    ON code_g5j_status.category_cd = 'SP00000210'
		    AND i_site.g5j_site_status = code_g5j_status.code
		    AND code_g5j_status.delete_flg = '0'
		    AND code_g5j_status.disp_flg = '1'
		  LEFT OUTER JOIN tb_mst_generic_code code_g5j_leadcorp
		    ON code_g5j_leadcorp.category_cd = 'SP00000211'
		    AND i_site.g5j_site_leadcorp = code_g5j_leadcorp.code
		    AND code_g5j_leadcorp.delete_flg = '0'
		    AND code_g5j_leadcorp.disp_flg = '1'
		<!-- 하단 컬럼 순서대로 정렬한다. -->
		ORDER BY
		  spec.site_id,
		  spec.priority,
		  spec.spec_id
	</select>
</mapper>