.App {

  text-align: start;
}

.App-header {
  padding: 30px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movieItem {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  padding-right: 30px;
}

.movieTitle {
  flex: 9;
  color: gray;
  text-decoration: none;
}

.movieTitle:hover {
  color: pink;
}

.movieDetail {
  font-size: 10px;
  color: gray;
}

.movieImage {
  flex: 1;
  width: 100px;
}