{{#extend layout title="font awesome" isBanner="false" active="font-awesome" isFlatpickr="true" path="../../" }}
{{#content "content"}}
<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4 class="fw-bold">Icons</h4>
                <div class="border-bottom mt-3"></div>
                <div class="row">
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-address-book" name="address-book"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-envelope-open" name="envelope-open"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-id-card" name="id-card"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-brands fa-telegram" name="telegram"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-circle-user" name="circle-user"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-chart-area" name="chart-area"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-asterisk" name="asterisk"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-car" name="car"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-bars" name="bars"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-battery-full" name="battery-full"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-brands fa-bluetooth" name="bluetooth"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-book " name="book"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-bug " name="bug"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-building " name="building"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-calculator " name="calculator"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-calendar-days" name="calendar-days"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-camera" name="camera"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-commenting" name="commenting"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-crop" name="crop"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-download" name="download"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-folder" name="folder"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-gift" name="gift"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-users" name="users"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-hashtag" name="hashtag"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-house-chimney" name="house-chimney"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-lock" name="lock"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-graduation-cap"
                        name="graduation-cap"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-paper-plane" name="paper-plane"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-star" name="star"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-tag" name="tag"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-trash" name="trash"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-upload" name="upload"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-university" name="university"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-wifi" name="wifi"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-thumbs-up" name="thumbs-up"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-train" name="train"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-solid fa-file" name="file"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-brands fa-snapchat" name="snapchat"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-brands fa-twitter" name="twitter"}}
                    </div>
                    <div class="col-lg-3" lg="3">
                        {{> components/partials/icon-component class="fa-brands fa-wordpress" name="wordpress"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}