[data-bs-theme=dark] {
    .text-dark {
        color: var(--bs-white) !important;
    }
    .bg-white {
        background: var(--bs-body-bg) !important;
    }
    .section-form fieldset {
        border: 3px solid rgba(var(--bs-white-rgb), .1);
    }
      .multiselect{
        background-color: var(--bs-gray-900) !important;
        border-color: var(--bs-border-color) !important;
    }
    .multiselect-options {
        background-color: var(--bs-gray-900) !important;
    }
    .multiselect-search {
        background-color: var(--bs-gray-900) !important;
    }
    .multiselect-tags-search{
        background-color: var(--bs-gray-900) !important;
    }

}