.title {
  text-align: center;
  color: gray;
}

.movieItem {
  display: flex;
  margin-bottom: 10px;
}
.movieTitle {
  display: block;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  color: gray;
  font-size: 30px;
  flex: 11;
}

.movieTitle:hover {
  color: white;
  background: gray;
}

.movieImage {
  width: 10px;
  height: auto;
  border: 1px solid gray;
  margin-left: 8px;
  border-radius: 10px;
  flex: 1;
}

.movieDetail {
  display: block;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  color: gray;
  font-size: 30px;
  flex: 1;
  margin-bottom: 30px;
}

.good {
  color: blue;
}

.soso {
  color: orange;
}

.bad {
  color: red;
}
