{{#extend layout title="Left Sidebar" active="left-sidebar" isHeader="true" isFooter="true" path="../" isBreadcrumb="true" }}
{{#content "content"}}
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                     {{>components/widgets/blog-sidebar}}
                </div>
                <div class="col-lg-8 col-sm-12">
                    {{> components/widgets/blog-card isCategory="true" isTag="true" blogImg="blog1.webp" id="01" blogDate="February 2, 2019" blogTag="Goldenmace" blogTitle="The Most Anticipated Movies" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." categoriesTex1="Dramas"  tagText1="comedy" tagText2="drama" tagText3="trailers"}}    
                    {{> components/widgets/blog-card isCategory="true" isTag="true" blogImg="blog4.webp" id="02" blogDate="February 2, 2019" blogTag="Goldenmace" blogTitle="Everything You Need to Know About" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." categoriesTex1="Trailer"  tagText1="Comedy" tagText2="Movie Trailers" tagText3="Trailers" tagText4="TV series" }}   
                    {{> components/widgets/blog-card isCategory="true" isTag="true" blogImg="blog5.webp" id="03" blogDate="February 2, 2019" blogTag="Goldenmace" blogTitle="My streaming Black Pearl" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." categoriesTex1="Movie Trailers"  tagText1="Movie trailers" tagText2="Mystery" tagText3="Thrill"}}              
                    {{> components/widgets/blog-card isCategory="true" isTag="true" blogImg="blog7.webp" id="04" blogDate="February1, 2019" blogTag="Goldenmace" blogTitle="Cookies and Web Beacons" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." categoriesTex1="tc comedies"  tagText1="Comedy" tagText2="tc rumors" tagText3="tv series"}} 
                    {{> components/widgets/blog-card isCategory="true" isTag="true" blogImg="blog8.webp" id="05" blogDate="January 30, 2019" blogTag="Goldenmace" blogTitle="Birds Of Prey Star Says She’s Definitely Open To A Ghost Return" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." categoriesTex1="Dramas"  tagText1="Comedies" tagText2="Drama" tagText3="Horror" tagText4="Movie"}} 
                    {{> components/widgets/blog-card isCategory="true" isTag="true" blogImg="blog9.webp" id="05" blogDate="January 30, 2019" blogTag="Goldenmace" blogTitle="Saturday Night Live’ Re-Enacts Biden and Harris’ Victory Speeches" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." categoriesTex1="Historical"  tagText1="historical" tagText2="Movie" tagText3="mystery" tagText4="Thriller"}}
                    {{> components/widgets/blog-card isCategory="true" isTag="true" blogImg="blog10.webp" id="05" blogDate="January 30, 2019" blogTag="Goldenmace" blogTitle="Gillian Anderson Shares the Photos From The Crown" blogText="Praesent iaculis, purus ac vehicula mattis, arcu lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit." categoriesTex1="movie"  tagText1="comedies" tagText2="Movie trailers" tagText3="tv series"}}
                </div>
            </div>
        </div>
    </div>
{{/content}}
{{/extend}}