{{#extend layout title="My Account" active="my-account" isHeader="true" isFooter="true" path="../" isBreadcrumb="true" isSelect2="true"}}
{{#content "content"}}
<div class="section-padding service-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="acc-left-menu p-4 mb-5 mb-lg-0 mb-md-0">
                    <div class="product-menu">
                        <ul class="list-inline m-0 nav nav-tabs flex-column bg-transparent border-0" role="tablist">
                            <li class="pb-3 nav-item">
                                <button class="nav-link active p-0 bg-transparent" data-bs-toggle="tab"
                                    data-bs-target="#dashboard" type="button" role="tab" aria-selected="true"><i
                                        class="fas fa-tachometer-alt"></i><span class="ms-2">Dashboard</span></button>
                            </li>
                            <li class="py-3 nav-item">
                                <button class="nav-link p-0 bg-transparent" data-bs-toggle="tab"
                                    data-bs-target="#orders" type="button" role="tab" aria-selected="true"><i
                                        class="fas fa-list"></i><span class="ms-2">Orders</span></button>
                            </li>
                            <li class="py-3 nav-item">
                                <button class="nav-link p-0 bg-transparent" data-bs-toggle="tab"
                                    data-bs-target="#downloads" type="button" role="tab" aria-selected="true"><i
                                        class="fas fa-download"></i><span class="ms-2">Downloads</span></button>
                            </li>
                            <li class="py-3 nav-item">
                                <button class="nav-link p-0 bg-transparent" data-bs-toggle="tab"
                                    data-bs-target="#address" type="button" role="tab" aria-selected="true"><i
                                        class="fas fa-map-marker-alt"></i><span class="ms-2">Address</span></button>
                            </li>
                            <li class="py-3 nav-item">
                                <button class="nav-link p-0 bg-transparent" data-bs-toggle="tab"
                                    data-bs-target="#account-details" type="button" role="tab" aria-selected="true"><i
                                        class="fas fa-user"></i><span class="ms-2">Account details</span></button>
                            </li>
                            <li class="pt-3 nav-item">
                                <button class="nav-link p-0 bg-transparent" data-bs-toggle="tab"
                                    data-bs-target="#logout" type="button" role="tab" aria-selected="true"><i
                                        class="fas fa-sign-out-alt"></i><span class="ms-2">Logout</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="tab-content" id="product-menu-content">
                    <div class="tab-pane fade show active" id="dashboard" role="tabpanel">
                        <div class="myaccount-content text-body p-4">
                            <p>Hello Jenny (not Jenny? <a href="{{path}}login.html">Log out</a>)</p>
                            <p>From your account dashboard you can view your <a href="javascript:void(0)">recent orders</a>,
                                manage your <a href="javascript:void(0)">shipping and billing addresses</a>, and <a href="javascript:void(0)">edit your password and account details</a>.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="orders" role="tabpanel">
                        <div class="orders-table text-body p-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr class="border-bottom">
                                            <th class="fw-bolder p-3">Order</th>
                                            <th class="fw-bolder p-3">Date</th>
                                            <th class="fw-bolder p-3">Status</th>
                                            <th class="fw-bolder p-3">Total</th>
                                            <th class="fw-bolder p-3">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="border-bottom">
                                            <td class="text-primary fs-6">#32604</td>
                                            <td>October 28, 2022</td>
                                            <td>Cancelled</td>
                                            <td>$215.00 For 0 Items</td>
                                            <td>
                                                <div class="d-flex align-items-center gap-2">
                                                    {{> components/widgets/custom-button button-title="pay"
                                                    button-url="javascript:void(0)"}}
                                                    {{> components/widgets/custom-button button-title="view"
                                                    button-url="javascript:void(0)"}}
                                                    {{> components/widgets/custom-button button-title="cancel"
                                                    button-url="javascript:void(0)"}}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td class="text-primary fs-6">#32584</td>
                                            <td>October 27, 2022</td>
                                            <td>On Hold</td>
                                            <td>$522.00 For 0 Items</td>
                                            <td>
                                                <div class="d-flex align-items-center gap-2">
                                                    {{> components/widgets/custom-button button-title="pay"
                                                    button-url="javascript:void(0)"}}
                                                    {{> components/widgets/custom-button button-title="view"
                                                    button-url="javascript:void(0)"}}
                                                    {{> components/widgets/custom-button button-title="cancel"
                                                    button-url="javascript:void(0)"}}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td class="text-primary fs-6">#31756</td>
                                            <td>October 19, 2022</td>
                                            <td>Processing</td>
                                            <td>$243.00 For 0 Items</td>
                                            <td>
                                                <div class="d-flex align-items-center gap-2">
                                                    {{> components/widgets/custom-button button-title="pay"
                                                    button-url="javascript:void(0)"}}
                                                    {{> components/widgets/custom-button button-title="view"
                                                    button-url="javascript:void(0)"}}
                                                    {{> components/widgets/custom-button button-title="cancel"
                                                    button-url="javascript:void(0)"}}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td class="text-primary fs-6">#23663</td>
                                            <td>October 7, 2022</td>
                                            <td>Completed</td>
                                            <td>$123.00 For 0 Items</td>
                                            <td class="fs-6">
                                                <div class="d-flex align-items-center gap-2">
                                                    {{> components/widgets/custom-button button-title="view"
                                                    button-url="javascript:void(0)"}}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td class="text-primary fs-6">#23612</td>
                                            <td>October 7, 2022</td>
                                            <td>Completed</td>
                                            <td>$64.00 For 0 Items</td>
                                            <td class="fs-6">
                                                <div class="d-flex align-items-center gap-2">
                                                    {{> components/widgets/custom-button button-title="view"
                                                    button-url="javascript:void(0)"}}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-primary fs-6">#19243</td>
                                            <td>April 1, 2022</td>
                                            <td>Completed</td>
                                            <td>$159.00 For 0 Items</td>
                                            <td class="fs-6">
                                                <div class="d-flex align-items-center gap-2">
                                                    {{> components/widgets/custom-button button-title="view"
                                                    button-url="javascript:void(0)"}}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="downloads" role="tabpanel">
                        <div class="orders-table text-body p-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr class="border-bottom">
                                            <th class="fw-bolder p-3">Product</th>
                                            <th class="fw-bolder p-3">Downloads Remaining</th>
                                            <th class="fw-bolder p-3">Expires</th>
                                            <th class="fw-bolder p-3">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="p-3 fs-6">Electric Toothbrush</td>
                                            <td class="p-3">∞</td>
                                            <td class="p-3 fs-6">Never</td>
                                            <td class="p-3"><a href="#" class="p-2 bg-primary text-white fs-6"
                                                    download>Product
                                                    Demo</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="address" role="tabpanel">
                        <div class="text-body p-4">
                            <p class="my-3">The following addresses will be used on the checkout page by default.</p>
                            <div class="d-flex align-items-center justify-content-between my-5 gap-2 flex-wrap">
                                <h4 class="mb-0">Billing Address.</h4>
                                <div class="iq-button">
                                    <a href="#" class="btn text-uppercase position-relative" data-bs-toggle="collapse"
                                    data-bs-target="#edit-address-1" aria-expanded="false">
                                        <span class="button-text">Edit</span>
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>                                
                            </div>
                            <div id="edit-address-1" class="collapse">
                                <div class="text-body mb-4">
                                    <form>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">First name&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="first-name" value="John" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Last name&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="last-name" value="deo" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Company name (optional)</label>
                                            <input type="text" name="last-name" value="Iqonic Design" class="form-control">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Country / Region &nbsp; <span class="text-danger">*</span></label>
                                            <div class="mb-5">
                                                <select class="select2-basic-single js-states form-control" aria-label="select country"
                                                    required="required">
                                                    <option value="" selected>Choose a country</option>
                                                    <option value="1">India</option>
                                                    <option value="2">United Kingdom</option>
                                                    <option value="3">United States</option>
                                                    <option value="4">Australia</option>
                                                    <option value="5">North Corea</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Street address&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="address" placeholder="House number and street name"
                                                value="4517 Kentucky" class="form-control mb-3 rounded-0"
                                                required="required">
                                            <input type="text" name="address" placeholder="Apartment, suite, unit, etc. (optional)"
                                                class="form-control">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Town / City&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="city" value="Navsari" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">State&nbsp; <span class="text-danger">*</span></label>
                                            <div class="mb-5">
                                                <select class="select2-basic-single js-states form-control" aria-label="select state">
                                                    <option value="" selected>Choose a State</option>
                                                    <option value="1">Gujarat</option>
                                                    <option value="2">Delhi</option>
                                                    <option value="3">Goa</option>
                                                    <option value="4">Haryana</option>
                                                    <option value="5">Ladakh</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">PIN code&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="pin code" value="396321" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Phone&nbsp; <span class="text-danger">*</span></label>
                                            <input type="tel" name="number" value="1234567890" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Email address&nbsp; <span class="text-danger">*</span></label>
                                            <input type="email" name="email" value="johndeo@gmail.com" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            {{> components/widgets/custom-button button-title="Save Address" button-url=""}}
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="edit-address w-100">
                                    <tr>
                                        <td class="label-name p-2">Name</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">john deo</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name p-2">Company</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">Iqonic Design</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name p-2">Country</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">India</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name p-2">Address</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">4517 Washington Ave, Manchester.</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name p-2">E-mail</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">johndeo@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name p-2">Phone</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">1234567890</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="d-flex align-items-center justify-content-between my-5 gap-2 flex-wrap">
                                <h4 class="mb-0">Shipping Address</h4>
                                <div class="iq-button">
                                    <a href="#" class="btn text-uppercase position-relative" data-bs-toggle="collapse"
                                    data-bs-target="#edit-address-2" aria-expanded="false">
                                        <span class="button-text">Edit</span>
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>                               
                            </div>
                            <div id="edit-address-2" class="collapse">
                                <div class="text-body mb-4">
                                    <form>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">First name&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="first-name" value="John" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Last name&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="last-name" value="deo" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Company name (optional)</label>
                                            <input type="text" name="last-name" value="Iqonic Design" class="form-control">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Country / Region &nbsp; <span class="text-danger">*</span></label>
                                            <div class="mb-5">
                                                <select class="select2-basic-single js-states" aria-label="select country"
                                                    required="required">
                                                    <option value="" selected>Choose a country</option>
                                                    <option value="1">India</option>
                                                    <option value="2">United Kingdom</option>
                                                    <option value="3">United States</option>
                                                    <option value="4">Australia</option>
                                                    <option value="5">North Corea</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Street address&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="address" placeholder="House number and street name"
                                                value="4517 Kentucky" class="form-control mb-3 rounded-0" required="required">
                                            <input type="text" name="address" placeholder="Apartment, suite, unit, etc. (optional)"
                                                class="form-control mb-5 rounded-0">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Town / City&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="city" value="Navsari" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">State&nbsp; <span class="text-danger">*</span></label>
                                            <div class="mb-5">
                                                <select class="select2-basic-single js-states" aria-label="select state">
                                                    <option value="" selected>Choose a State</option>
                                                    <option value="1">Gujarat</option>
                                                    <option value="2">Delhi</option>
                                                    <option value="3">Goa</option>
                                                    <option value="4">Haryana</option>
                                                    <option value="5">Ladakh</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">PIN code&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="pin code" value="396321" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Phone&nbsp; <span class="text-danger">*</span></label>
                                            <input type="tel" name="number" value="1234567890" class="form-control" required="required">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="mb-2">Email address&nbsp; <span
                                                class="text-danger">*</span></label>
                                            <input type="email" name="email" value="johndeo@gmail.com" class="form-control" required="required">
                                        </div>
                                        <div class="form-group">
                                            {{> components/widgets/custom-button button-title="Save Address" button-url=""}}
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="edit-address w-100">
                                    <tr>
                                        <td class="label-name p-2">Name</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">john deo</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name p-2">Company</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">Iqonic Design</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name p-2">Country</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">India</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name p-2">Address</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">4517 Washington Ave, Manchester.</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name p-2">E-mail</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">johndeo@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td class="label-name p-2">Phone</td>
                                        <td class="seprator p-2"><span>:</span></td>
                                        <td class="p-2">1234567890</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-details" role="tabpanel">
                        <div class=" p-4 text-body">
                            <form>
                                <div class="form-group mb-5">
                                    <label class="mb-2">First name&nbsp; <span class="text-danger">*</span></label>
                                    <input type="text" name="first-name" value="John" class="form-control" required="required">
                                </div>
                                <div class="form-group mb-5">
                                    <label class="mb-2">Last name&nbsp; <span class="text-danger">*</span></label>
                                    <input type="text" name="last-name" value="deo" class="form-control" required="required">
                                </div>
                                <div class="form-group mb-5">
                                    <label class="mb-2">Display name&nbsp; <span class="text-danger">*</span></label>
                                    <input type="text" name="display-name" value="John" class="form-control" required="required">
                                </div>
                                 <em class="d-block mb-5">This will be how your name will be displayed in the account
                                    section and in reviews</em>
                                <div class="form-group mb-5">
                                    <label class="mb-2">Email address&nbsp; <span class="text-danger">*</span></label>
                                    <input type="email" name="email" value="johndeo@gmail.com" class="form-control" required="required">
                                </div>
                                <h4 class="fw-normal mb-5">Password change</h4>
                                <div class="form-group mb-5">
                                    <label class="mb-2">Current password (leave blank to leave unchanged)</label>
                                    <input type="password" name="password" class="form-control">
                                </div>
                                <div class="form-group mb-5">
                                    <label class="mb-2">New password (leave blank to leave unchanged)</label>
                                    <input type="password" name="password" class="form-control">
                                </div>
                                <div class="form-group mb-5">
                                    <label class="mb-2">Confirm new password</label>
                                    <input type="password" name="password" class="form-control">  
                                </div>
                                <div class="form-group">
                                    {{> components/widgets/custom-button button-title="save changes" button-url="javascript:void(0)"}}
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="logout" role="tabpanel">
                        <div class="p-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-5 text-primary">Login</h4>
                                    <form method="post">
                                        <div class="mb-4">
                                            <input type="text" name="user-name" class="form-control" placeholder="Username or email address *" required>
                                        </div>
                                        <div class="mb-4">
                                            <input type="password" name="pwd" class="form-control" placeholder="Password" required>
                                        </div>                                  
                                        <label class="custom-form-field mb-5">
                                            <input type="checkbox" required="required" class="mr-2">
                                            <span class="checkmark"></span>
                                            <span>Remember me</span>
                                        </label>
                                        {{> components/widgets/custom-button button-title="Login" button-url="javascript:void(0)"}}                                        
                                    </form>
                                    <div class="mt-3">
                                        {{> components/widgets/custom-button linkButton="true" button-title="Lost your password?" button-url="javascript:void(0)"}}
                                    </div>                           
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-5 mt-5 mt-lg-0 mt-md-0 text-primary">Register</h4>
                                    <form method="post">
                                        <div class="mb-4">
                                            <input type="text" name="user-name" placeholder="Username *" class="form-control" required>
                                        </div>
                                        <div class="mb-4">
                                            <input type="email" name="email-address" placeholder="Email address *" class="form-control" required>
                                        </div>
                                        <div class="mb-4">
                                            <input type="password" name="password" placeholder="Password *"
                                            class="form-control" required>
                                        </div>                                                                    
                                        <p class="mb-5"> Your personal data will be used to support your experience
                                            throughout this
                                            website, to manage access to your account, and for other purposes described in
                                            our <a href="{{path}}privacy-policy.html"> privacy policy</a>.
                                        </p>
                                        {{> components/widgets/custom-button button-title="register" button-url="javascript:void(0)"}}                                      
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}