@import "styles/resources.scss";

.App {
  margin: $md;
}

.font-md {
  font-size: $md;
}

.font-lg {
  font-size: $lg;
}

.font-xl {
  font-size: $xl;
}

.font-xxl {
  font-size: $xxl;
}

.color-blue {
  color: $blue;
}

.color-indigo {
  color: $indigo;
}

.color-purple {
  color: $purple;
}

.color-pink {
  color: $pink;
}

.color-red {
  color: $red;
}
