table {
    &.custom-table {
        thead {
            vertical-align: middle;

            th {
                border: none;
                padding: 1.5em 1.25em;
                text-transform: capitalize;
                color: var(--bs-headings-color);
                background: var(--bs-gray-300);
            }
        }

        tbody {
            td {
                border: none;
                padding: 1.5em 1.25em;
                text-transform: capitalize;
                color: var(--bs-body-color);
                background: var(--bs-body-bg);
                border-bottom: 0.625em solid var(--bs-card-bg);
            }
        }
    }

    &.table-border {
        thead {
            tr {
                background: var(--bs-gray-900);

                th {
                    background: transparent;
                    padding: 1rem;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 1rem;
                }
            }
        }

        tfoot {
            tr {
                td {
                    padding: 1rem;
                    border-top: 1px solid rgba(var(--bs-black-rgb), .1);
                }
            }
        }
    }
}

.card {
    table {
        &.custom-table {
            thead {
    
                th {
                    color: var(--bs-heading-color);
                    background: var(--bs-gray-300);
                }
            }
    
            tbody {
                td {
                    color: var(--bs-body-color);
                    background: var(--bs-body-bg);
                    border-bottom: 0.625em solid var(--bs-card-bg);
                }
            }
        }
    
        &.table-border {
            thead {
                tr {
                    background: var(--bs-body-bg);
    
                    th {
                        background: transparent;
                    }
                }
            }
            tfoot {
                tr {
                    td {
                        border-top: 1px solid rgba(var(--bs-black-rgb), .1);
                    }
                }
            }
        }
    }
}