{{#extend layout title="Shop" active="shop" isHeaderMerchandise="true" isFooter="true" isSweetalert="true" isNoUISlider="true" path="../" isBreadcrumb="true" isSelect2="true"}}
{{#content "content"}}
<div class="section-padding">
   <div class="container">
      <div class="row">
         <div class="col-xl-3">
            <div class="pe-3">
                {{> components/widgets/shop-sidebar}}
            </div>
         </div>
         <div class="col-xl-9">
            <div class="d-flex align-items-center justify-content-between mb-5 shop-filter flex-wrap">
                    <p>Showing 1–10 of 31 results </p>
                    <div class="d-flex align-items-center ">
                        <div class="product-view-button">
                            <ul class="nav_shop nav d-flex nav-pills mb-0 iq-product-filter d-flex bg-transparent align-items-center list-inline"
                                id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                        <button class="nav-link btn-sm btn-icon rounded-pill p-0"
                                            id="list-view-tab" data-bs-toggle="pill" data-bs-target="#pills-list-view"
                                            type="button" role="tab" aria-controls="pills-list-view"
                                            aria-selected="true">
                                            <span class="btn-inner">
                                                <svg class="hover_effect active_effect" width="18" height="16"
                                                    viewBox="0 0 18 16" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0_1379_355)">
                                                            <path d="M3.42857 0H0V3.42857H3.42857V0Z" fill=""></path>
                                                            <path d="M18 0.857422H6V2.57171H18V0.857422Z" fill="">
                                                            </path>
                                                            <path d="M3.42857 6H0V9.42857H3.42857V6Z" fill=""></path>
                                                            <path d="M18 6.85742H6V8.57171H18V6.85742Z" fill=""></path>
                                                            <path d="M3.42857 12H0V15.4286H3.42857V12Z" fill=""></path>
                                                            <path d="M18 12.8574H6V14.5717H18V12.8574Z" fill=""></path>
                                                    </g>
                                                    <defs>
                                                            <clipPath id="clip0_1379_355">
                                                                <rect width="18" height="15.4286" fill=""></rect>
                                                            </clipPath>
                                                    </defs>
                                                </svg>
                                            </span>
                                        </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                        <button class="nav-link btn-sm btn-icon rounded-pill p-0" id="grid-view-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-grid-view" type="button"
                                            role="tab" aria-controls="pills-grid-view" aria-selected="false">
                                            <span class="btn-inner">
                                                <svg class="hover_effect active_effect" width="18" height="18"
                                                    viewBox="0 0 18 18" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8.57143 0H0V8.57143H8.57143V0Z" fill=""></path>
                                                    <path d="M17.9999 0H9.42847V8.57143H17.9999V0Z" fill=""></path>
                                                    <path d="M8.57143 9.42871H0V18.0001H8.57143V9.42871Z" fill="">
                                                    </path>
                                                    <path d="M17.9999 9.42871H9.42847V18.0001H17.9999V9.42871Z"
                                                            fill=""></path>
                                                </svg>
                                            </span>
                                        </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                        <button class="nav-link btn-sm btn-icon rounded-pill p-0 active"
                                            id="grid-three-view-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-grid-three-view-tab" type="button" role="tab"
                                            aria-controls="pills-grid-three-view-tab" aria-selected="false">
                                            <span class="btn-inner">
                                                <svg class="hover_effect active_effect" width="18" height="18"
                                                    viewBox="0 0 18 18" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4.90909 0H0V4.90909H4.90909V0Z" fill=""></path>
                                                    <path d="M11.4545 0H6.54541V4.90909H11.4545V0Z" fill=""></path>
                                                    <path d="M17.9999 0H13.0908V4.90909H17.9999V0Z" fill=""></path>
                                                    <path d="M4.90909 6.5459H0V11.455H4.90909V6.5459Z" fill="">
                                                    </path>
                                                    <path d="M11.4545 6.5459H6.54541V11.455H11.4545V6.5459Z" fill="">
                                                    </path>
                                                    <path d="M17.9999 6.5459H13.0908V11.455H17.9999V6.5459Z" fill="">
                                                    </path>
                                                    <path d="M4.90909 13.0908H0V17.9999H4.90909V13.0908Z" fill="">
                                                    </path>
                                                    <path d="M11.4545 13.0908H6.54541V17.9999H11.4545V13.0908Z"
                                                            fill=""></path>
                                                    <path d="M17.9999 13.0908H13.0908V17.9999H17.9999V13.0908Z"
                                                            fill=""></path>
                                                </svg>
                                            </span>
                                        </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                        <button class="nav-link btn-sm btn-icon rounded-pill p-0"
                                            id="grid-three-four-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-grid-three-four-view-tab" type="button" role="tab"
                                            aria-controls="pills-grid-three-four-view-tab" aria-selected="false">
                                            <span class="btn-inner">
                                                <svg class="hover_effect active_effect" width="18" height="18"
                                                    viewBox="0 0 18 18" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.85714 0H0V3.85714H3.85714V0Z" fill=""></path>
                                                    <path d="M8.5715 0H4.71436V3.85714H8.5715V0Z" fill=""></path>
                                                    <path d="M13.2856 0H9.42847V3.85714H13.2856V0Z" fill=""></path>
                                                    <path d="M18 0H14.1428V3.85714H18V0Z" fill=""></path>
                                                    <path d="M3.85714 4.71387H0V8.57101H3.85714V4.71387Z" fill="">
                                                    </path>
                                                    <path d="M8.5715 4.71387H4.71436V8.57101H8.5715V4.71387Z"
                                                            fill=""></path>
                                                    <path d="M13.2856 4.71387H9.42847V8.57101H13.2856V4.71387Z"
                                                            fill=""></path>
                                                    <path d="M18 4.71387H14.1428V8.57101H18V4.71387Z" fill=""></path>
                                                    <path d="M3.85714 9.42871H0V13.2859H3.85714V9.42871Z" fill="">
                                                    </path>
                                                    <path d="M8.5715 9.42871H4.71436V13.2859H8.5715V9.42871Z"
                                                            fill=""></path>
                                                    <path d="M13.2856 9.42871H9.42847V13.2859H13.2856V9.42871Z"
                                                            fill=""></path>
                                                    <path d="M18 9.42871H14.1428V13.2859H18V9.42871Z" fill=""></path>
                                                    <path d="M3.85714 14.1426H0V17.9997H3.85714V14.1426Z" fill="">
                                                    </path>
                                                    <path d="M8.5715 14.1426H4.71436V17.9997H8.5715V14.1426Z"
                                                            fill=""></path>
                                                    <path d="M13.2856 14.1426H9.42847V17.9997H13.2856V14.1426Z"
                                                            fill=""></path>
                                                    <path d="M18 14.1426H14.1428V17.9997H18V14.1426Z" fill=""></path>
                                                </svg>
                                            </span>
                                        </button>
                                </li>
                            </ul>
                        </div>
                        <div class="iq-custom-select d-inline-block shop-select">
                            <select name="cars" class="form-control season-select select2-basic-single js-states">
                                <option value="season1">Default sorting</option>
                                <option>Sort by popularity</option>
                                <option>Sort by average rating</option>
                                <option>Sort by latest</option>
                                <option>Sort by price: low to high</option>
                                <option>Sort by price: high to low</option>
                            </select>
                        </div>
                    </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade " id="pills-list-view" role="tabpanel" aria-labelledby="list-view-tab">
                    <div class="row row-cols-1">
                        <div class="col">
                            {{> components/widgets/product-card IsProductlist="true" ProductImg="01.webp" shopTitle="Bag Pack"  shopSale="Sale!" bgShop="primary"
                    shopDel="$48.00" shopPrice="$28.00"  rating="4" shopDesc="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable."}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card IsProductlist="true" ProductImg="02.webp" shopTitle="Believe Mask"
                    shopDel="" shopPrice="$13.00" rating='5' shopDesc="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable."}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card IsProductlist="true" ProductImg="03.webp" shopTitle="Black Bow" shopSale="Sale!"
                    shopDel="" shopPrice="$18.00 - $45.00" rating='5' shopDesc="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable."}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card IsProductlist="true" ProductImg="04.webp" shopTitle="Black Cap" shopSale="New!" bgShop="dark"
                    shopDel="$20.00" shopPrice="$18.00" rating='5' shopDesc="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable."}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card IsProductlist="true" ProductImg="05.webp" shopTitle="Boxing Gloves"
                    shopDel="$20.00" shopPrice="$18.00" rating='5' shopDesc="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable."}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="01.webp" shopTitle="Bag Pack"  shopSale="Sale!" bgShop="primary"
                    shopDel="$48.00" shopPrice="$28.00"  rating="4"}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="02.webp" shopTitle="Believe Mask"
                    shopDel="" shopPrice="$13.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="03.webp" shopTitle="Black Bow" shopSale="Sale!"
                    shopDel="" shopPrice="$18.00 - $45.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="04.webp" shopTitle="Black Cap" shopSale="New!" bgShop="dark"
                    shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="05.webp" shopTitle="Boxing Gloves"
                    shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="06.webp" shopTitle="Carry Bag"
                    shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="pills-grid-three-view-tab" role="tabpanel"
                    aria-labelledby="grid-three-view-tab">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="01.webp" shopTitle="Bag Pack"  shopSale="Sale!" bgShop="primary"
                    shopDel="$48.00" shopPrice="$28.00"  rating="4"}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="02.webp" shopTitle="Believe Mask"
                    shopDel="" shopPrice="$13.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="03.webp" shopTitle="Black Bow" shopSale="Sale!"
                    shopDel="" shopPrice="$18.00 - $45.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="04.webp" shopTitle="Black Cap" shopSale="New!" bgShop="dark"
                    shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="05.webp" shopTitle="Boxing Gloves"
                    shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="06.webp" shopTitle="Carry Bag"
                    shopPrice="$18.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="07.webp" shopTitle="cartoon-character"
                     shopPrice="$25.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="08.webp" shopTitle="Coffee Cup"
                    shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="09.webp" shopTitle="Crown"
                    shopDel="$10.00" shopPrice="$07.00" rating='5'}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-grid-three-four-view-tab" role="tabpanel">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="01.webp" shopTitle="Bag Pack"  shopSale="Sale!" bgShop="primary"
                    shopDel="$48.00" shopPrice="$28.00"  rating="4"}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="02.webp" shopTitle="Believe Mask"
                    shopDel="" shopPrice="$13.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="03.webp" shopTitle="Black Bow" shopSale="Sale!"
                    shopDel="" shopPrice="$18.00 - $45.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="04.webp" shopTitle="Black Cap" shopSale="New!" bgShop="dark"
                    shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="05.webp" shopTitle="Boxing Gloves"
                    shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="06.webp" shopTitle="Carry Bag"
                    shopPrice="$18.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="07.webp" shopTitle="cartoon-character"
                     shopPrice="$25.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="08.webp" shopTitle="Coffee Cup"
                    shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                        </div>
                        <div class="col">
                            {{> components/widgets/product-card ProductImg="09.webp" shopTitle="Crown"
                    shopDel="$10.00" shopPrice="$07.00" rating='5'}}
                        </div>
                         <div class="col">
                            {{> components/widgets/product-card ProductImg="10.webp" shopTitle="Daily Diary" shopSale="Sale!"
                    shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                        </div>
                         <div class="col">
                            {{> components/widgets/product-card ProductImg="11.webp" shopTitle="Floral Badges" 
                    shopPrice="$20" rating='3'}}
                        </div>
                         <div class="col">
                            {{> components/widgets/product-card ProductImg="12.webp" shopTitle="Ghost Cap" shopSale="Sale!"
                    shopPrice="$90.00" rating='4'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
   </div>
</div>
{{> components/widgets/quick-view}}
{{/content}}
{{/extend}}