.iq-profile-avatar.status-primary:before { background-color: #6a75ca; }
.iq-profile-avatar.status-blue:before { background-color: #468bd8; }
.iq-profile-avatar.status-info:before { background-color: #17a2b8; }
.iq-profile-avatar.status-danger:before { background-color: #ea5455; }
.bg-blue { background-color: #468bd8 !important; }
.dash-hover-gradient { background-color: #fff; min-height: 200px; }
.dash-hover-gradient:hover { cursor: pointer; background: var(--iq-primary); color: #fff; }
.dash-hover-scale { min-height: 200px; transition: all 200ms ease-in-out; }
.dash-hover-scale:hover { cursor: pointer; transform: scale(1.1); transition: all 200ms ease-in-out; }
.dash-hover-gradient:hover .iq-card-body *, .dash-hover-gradient:hover .iq-card-header i { color: #fff; }


.transformY-min-15 { transform: translateY(-15px); }
.transformY-min-45 { transform: translateY(-45px); }
.text-gray { color: #aaa; }
.top-10{top: 10% !important;}
.top-20{top: 20% !important;}
.top-30{top: 30% !important;}
.top-40{top: 40% !important;}
.top-50{top: 50% !important;}
.top-60{top: 60% !important;}
.top-70{top: 70% !important;}
.top-80{top: 80% !important;}
.top-90{top: 90% !important;}
.top-100{top: 100% !important;}
.top-150{top: 150% !important;}
.top-200{top: 200% !important;}
.font-size-22 { font-size: 22px; }
.font-size-24 { font-size: 24px; }
.font-size-26 { font-size: 26px; }
.font-size-28 { font-size: 28px; }
.font-size-30 { font-size: 30px; }
.font-size-32 { font-size: 32px; }
.font-size-34 { font-size: 34px; }
.font-size-36 { font-size: 36px; }
.font-size-38 { font-size: 38px; }
.font-size-40 { font-size: 40px; }
.height-25 { height: 25px !important; }
.height-50 { height: 50px !important; }
.height-75 { height: 75px !important; }
.height-100 { height: 100px !important; }
.height-125 { height: 125px !important; }
.height-150 { height: 150px !important; }
.height-300 { height: 300px !important; }
.height-500 { height: 500px !important; }
.chartjs-pie-chart { display: inline-block; vertical-align: middle; width: 100%; }
.chart-legend { margin: 0; padding: 0; }
.chart-legend { display: inline-block; vertical-align: middle; width: 80%; font-size: 14px; }
.chart-legend ul { padding: 0px; }
.chart-legend li { line-height: 1.3em; list-style: none; margin: 0 0 .3em 0; min-height: 1.3em; }
.chart-legend li span { border-radius: .3em; display: inline-block; height: 1.3em; left: 0; margin-right: .5em; vertical-align: middle; width: 1.3em; }
.apexcharts-gridlines-horizontal { display: none !important; }

/*  Css for the Dashboard 2 */
.iq-border-radius-5 { border-radius: 5px; }
.iq-border-radius-10 { border-radius: 10px; }
.iq-border-radius-15 { border-radius: 15px; }
.iq-border-radius-20 { border-radius: 20px; }
.iq-border-r-5 { border-right: 5px solid; }
.iq-border-l-5 { border-left: 5px solid; }
.iq-shadow { box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important; }
.iq-profile-card { overflow: visible; }
.left-section { }
.right-section { min-height: 80vh; border-radius: 50px; }
.iq-icon-shape { padding: 12px; text-align: center; display: inline-flex; align-items: center; justify-content: center; width: 3rem; height: 3rem; }

/* Project 7 Dashboard */
.kanban-drag, .kanban-item { padding: 5px !important; }
.kanban-drag { height: 600px; overflow: hidden; overflow-y: scroll; }
.gantt-container { height: 350px; }
.bg-banner-image { background-size: 100% 100% !important; background-repeat: no-repeat !important; height: 250px; }
.banner-bg-color-primary { width: 100%; height: 100%; background: rgba(106, 117, 202, 0.8); border-radius: inherit; }
.iq-mt--50 { margin-top: -50px; }
.full-map { height: 270px; z-index: 0; }
.track { display: -webkit-inline-box; display: -moz-inline-box; overflow-x: scroll; }
::-webkit-scrollbar { width: 8px; height: 8px; border-radius: 20px; }
.table{color: var(--iq-body-text) !important}
/* Track */
::-webkit-scrollbar-track { background: #f1f1f1; border-radius: 20px; }

/* Handle */
::-webkit-scrollbar-thumb { background: #888; border-radius: 20px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; border-radius: 20px; }
.dash-tracking-icon { height: 80px; }
.transformX-min-1 { transform: scaleX(-1); }

.iq-email-list .iq-email-ui li a{
    padding: .5rem 1rem !important;
}

.custom-checkbox.custom-checkbox-color input[color="primary"]~label::before, .custom-checkbox.custom-checkbox-color-check input:checked[color="primary"]~label::before, .custom-radio.custom-radio-color input[color="primary"]~label::before, .custom-radio.custom-radio-color-checked  input:checked[color="primary"]~label::before, .custom-switch.custom-switch-color input:checked[color="primary"]~label::before { background-color: var(--iq-primary) !important; border-color: var(--iq-primary) !important; }
.custom-checkbox.custom-checkbox-color input[color="success"]~label::before, .custom-checkbox.custom-checkbox-color-check input:checked[color="success"]~label::before, .custom-radio.custom-radio-color input[color="success"]~label::before, .custom-radio.custom-radio-color-checked  input:checked[color="success"]~label::before, .custom-switch.custom-switch-color input:checked[color="success"]~label::before { background-color: #00ca00 !important; border-color: #00ca00 !important; }
.custom-checkbox.custom-checkbox-color input[color="danger"]~label::before, .custom-checkbox.custom-checkbox-color-check input:checked[color="danger"]~label::before, .custom-radio.custom-radio-color input[color="danger"]~label::before, .custom-radio.custom-radio-color-checked  input:checked[color="danger"]~label::before, .custom-switch.custom-switch-color input:checked[color="danger"]~label::before { background-color: #e64141 !important; border-color: #e64141 !important; }
.custom-checkbox.custom-checkbox-color input[color="warning"]~label::before, .custom-checkbox.custom-checkbox-color-check input:checked[color="warning"]~label::before, .custom-radio.custom-radio-color input[color="warning"]~label::before, .custom-radio.custom-radio-color-checked  input:checked[color="warning"]~label::before, .custom-switch.custom-switch-color input:checked[color="warning"]~label::before { background-color: #ffd400 !important; border-color: #ffd400 !important; }
.custom-checkbox.custom-checkbox-color input[color="dark"]~label::before, .custom-checkbox.custom-checkbox-color-check input:checked[color="dark"]~label::before, .custom-radio.custom-radio-color input[color="dark"]~label::before, .custom-radio.custom-radio-color-checked  input:checked[color="dark"]~label::before, .custom-switch.custom-switch-color input:checked[color="dark"]~label::before { background-color: #374948 !important; border-color: #374948 !important; }
.custom-checkbox.custom-checkbox-color input[color="info"]~label::before, .custom-checkbox.custom-checkbox-color-check input:checked[color="info"]~label::before, .custom-radio.custom-radio-color input[color="info"]~label::before, .custom-radio.custom-radio-color-checked  input:checked[color="info"]~label::before, .custom-switch.custom-switch-color input:checked[color="info"]~label::before { background-color: #00d0ff !important; border-color: #00d0ff !important; }

/*.router-anim-enter-active{
    animation: out 2s;
    animation-delay: 1s;
}

.router-anim-leave-active{
    animation: coming 1s;
}

@keyframes coming {
    from {
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes out {
    0% {
        opacity: 0;
        transform: translateX(0%);
    }
    25% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}*/

.dropdown-menu:focus{
    outline: none !important;
}
.modal-backdrop {
    opacity: .5 !important;
}
.fc-button-primary:not(:disabled):active:focus, .fc-button-primary:not(:disabled).fc-button-active:focus{
    box-shadow: none !important;
}
.setting-toggle{
    padding-right: 12px;
}
.right-sidebar-panel .active{
}
.right-sidebar-panel .active::before{
}
.iq-menu-horizontal .iq-sidebar-menu .iq-menu li.active ul{ display: none !important;}
.iq-menu-horizontal .iq-sidebar-menu .iq-menu li>a::before{background: unset;}
.iq-menu-horizontal .iq-sidebar-menu .iq-menu li.active>a{color: unset;background: unset}
.tui-full-calendar-weekday-schedule-title, .tui-full-calendar-time-schedule {
    font-weight: normal !important;
}
.text-black{ color: #424242 }
.bg-gray{
    background-color: #cecece;
}

.iq-sidebar.sidebar-dark .iq-menu li.active .iq-submenu li>.router-link-active {background: #1e1e1e; color: #fff !important;}
/* .iq-sidebar-menu .iq-menu li.active .iq-submenu li>.router-link-active { background: #e0defc;color: var(--iq-primary) !important; border-radius: 0; } */

/*---------------------------------------------------------------------
Ecommerce Pages Page
-----------------------------------------------------------------------*/
ul { list-style: none; }
ul.grid_list li a { background: #e5f2ff; color: var(--iq-primary); font-size: 18px; text-align: center; line-height: 38px; display: inline-block; width: 40px; height: 40px; margin-right: 10px; border-radius: 5px; }
.Products ul.product_list { list-style: none; margin: 0 -10px; padding: 0; }
.product-miniature { position: relative; margin-bottom: 30px; overflow: hidden; display: inline-block; vertical-align: top; }
.thumbnail-container { position: relative; overflow: hidden; }
.product-action { position: relative; float: left; transition: all 0.45s ease 0s; }
.Products li:hover .product-miniature .product-action { transition: all 0.45s ease 0s; }
.product-action > div { display: inline-block; }
.product-action a { background: #e5f2ff; color: var(--iq-primary); font-size: 18px; text-align: center; line-height: 38px; display: inline-block; width: 40px; height: 40px; margin: 0 5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.product-description { padding: 20px; background: #f3f7fd; border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; }
.product-price { }
.regular-price { color: #000; font-size: 20px; margin-bottom: 10px; }
.regular-price span { color: #777D74; text-decoration: line-through; }
.shipping span, .stock span { color: #000; }
input.increment { text-align: center; }
.ratting { margin: 0 0 10px; font-size: 18px; color: var(--iq-primary); }
.thumbnail-container img { border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; }
.thumbnail-container .new { position: absolute; top: 15px; left: auto; right: 15px; background: #fff; font-size: 12px; padding: 2px 7px; border-radius: 4px; }


/*---------------------------------------------------------------------
Product Page
-----------------------------------------------------------------------*/
.additional-product-action .product-action .add-to-cart a { width: auto; padding: 0 20px; background: var(--iq-primary); color: #fff; }
.description-tabs { margin-top: 100px; }
.iq-product-cover img, .iq-additional_slider img{border-radius: 5px;}
.description-tabs .nav-item .nav-link {font-size: 18px;}
#related-slider .slick-arrow {top: 45%;height: 40px;width: 40px;padding: 0;text-align: center;line-height: 40px;border-radius: 5px;}
.btn-increment button, .btn-increment input {background: transparent; border: 1px solid #f2edff;}
/*---------------------------------------------------------------------
Checkout Page
-----------------------------------------------------------------------*/
.fieldlabels { color: #455A64 !important; text-align: left }
#progressbar { margin-bottom: 30px; overflow: hidden; color: #455A64; padding-left: 0px; margin-top: 30px }
#progressbar li { list-style-type: none; font-size: 13px; width: 33.33%; float: left; position: relative; font-weight: 400 }
#progressbar #step1:before { content: "1"; color: #fff }
#progressbar #step2:before { content: "2"; color: #fff }
#progressbar #step3:before { content: "3"; color: #fff }
#progressbar li:before { width: 40px; height: 40px; line-height: 45px; display: block; font-size: 20px; background: #455A64; border-radius: 50%; margin: auto; padding: 0px }
#progressbar li:after { content: ''; width: 100%; height: 2px; background: #455A64; position: absolute; left: 0; top: 21px; z-index: -1 }
#progressbar li:last-child:after { border-top-right-radius: 10px; border-bottom-right-radius: 10px; position: absolute; left: -50% }
#progressbar li:nth-child(2):after { left: -50% }
#progressbar li:first-child:after { border-top-left-radius: 10px; border-bottom-left-radius: 10px; position: absolute; left: 50% }
#progressbar li:last-child:after { border-top-right-radius: 10px; border-bottom-right-radius: 10px }
#progressbar li:first-child:after { border-top-left-radius: 10px; border-bottom-left-radius: 10px }
#progressbar li.active:before, #progressbar li.active:after { background: var(--iq-primary) }
#progressbar li.done:before, #progressbar li.done:after { background: var(--iq-primary) }
.card-block { display: none; }
.card-block.show { display: block }
.ckeckout-product-lists {border-bottom: 1px solid rgba(0,0,0,.1);}
.ckeckout-product-lists:last-child {border-bottom: none; padding-bottom: 0 !important; margin-bottom: 0 !important;}
.iq-checkout-icon { height: 60px; width: 60px; line-height: 60px; text-align: center; font-size: 22px; }
.iq-checkout-policy ul li {border-bottom: 1px solid rgba(0,0,0,0.1);}
/* Project management */
.track .iq-card-header {border-radius: 15px 15px 0 0;}
.track .card-body {border-radius: 0 0 15px 15px;}
/* Bootstrap class */
a{color: var(--iq-primary)}
a:hover{color: var(--iq-primary)}
.btn-group-lg>.btn, .btn-lg{border-radius: 20px}
.rounded {border-radius: 15px;}
.rounded-circle{border-radius: 10px;}
/* .btn-outline-primary:hover{background: var(--iq-primary);background: -webkit-gradient(left top,right top,color-stop(0,var(--iq-primary)),color-stop(100%,var(--iq-primary-light)));=background: -webkit-gradient(linear,left top,right top,from(var(--iq-primary)),to(var(--iq-primary-light)));background: linear-gradient(90deg,var(--iq-primary) 0,var(--iq-primary-light));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--iq-primary)",endColorstr="var(--iq-primary-light)",GradientType=1);border-color: var(--iq-primary) !important;background-color: unset !important;} */
/* .btn-outline-primary:active{background: var(--iq-primary);background: -webkit-gradient(left top,right top,color-stop(0,var(--iq-primary)),color-stop(100%,var(--iq-primary-light)));=background: -webkit-gradient(linear,left top,right top,from(var(--iq-primary)),to(var(--iq-primary-light)));background: linear-gradient(90deg,var(--iq-primary) 0,var(--iq-primary-light));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--iq-primary)",endColorstr="var(--iq-primary-light)",GradientType=1);border-color: var(--iq-primary) !important;background-color: unset !important;} */
.snackbar-container{border-radius: 4px !important;padding: 14px 20px;}
.btn {
    border-radius: 10px;
}
#v-pills--d-0 {background: transparent;}
.page-item.active .page-link {border-color: var(--iq-primary);background: var(--iq-primary);color: #fff !important;}
.page-link {color: var(--iq-primary) !important;}
.wizard-navigation .wizard-progress-with-circle {display: none;}
.meeting .ag-main {background: #000 !important;border-radius: 15px !important;}
.meeting.wrapper {background: #fff !important;}
.card-header{background-color: #fff !important;}
.chat-head header {border-radius: 0 15px 0 0 !important;}
.chat-footer {border-radius: 0 0 15px 0 !important;}
.chat-data {border-radius: 15px !important;}
.ag-btn-group{border-radius: 0 0 15px 15px !important;}
/* .search-input{height: 73px !important;line-height: 73px !important;} */
div#stats {display: none;}
.d-flex.stats-data {display: none !important;}
.ais-SearchBox-form {background: #efeefd;border-radius: 15px;}
.dataTables_filter{width: 50%;display: inline-flex;justify-content: flex-end;}
.dataTables_length{ width: 50%;display: inline-block;}
.dataTables_length select{ background-color: var(--iq-body-bg);border: 1px solid transparent;}
.dataTables_filter input{background-color: var(--iq-body-bg);border: 1px solid transparent;}
.dataTables_paginate {width: 50%;display: inline-flex;justify-content: flex-end;}
.dataTables_info{ width: 50%;display: inline-block;}
div.dataTables_wrapper div.dataTables_info {padding: 20px 0;}
.paginate_button.current{ background-color: var(--iq-primary);border-color: var(--iq-primary);}
.paginate_button{background-color: var(--iq-body-bg);padding: 11px 12px 8px;display: inline-table;color: #6c757d;}
.select2-container--default .select2-selection--single{background-color: var(--iq-body-bg)!important;border: none!important;border-radius: 0!important;color:#fff!important;height: 45px !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before{margin-top:0;border:none;content: '\ea41';position: absolute;font-family: "remixicon";top: 50%;transform: translateY(-50%);right: -4px;color: var(--iq-white);font-size: 16px;z-index: 99;transition: all 0.4s ease;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{margin-top:0!important;border:none!important;}
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 26px;position: absolute;top: 50%!important;right: 3px!important;width: auto!important;transform: translateY(-50%);}
.select2-container--default  .select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--default  .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {background-color: var(--iq-primary) !important;color: var(--iq-white)!important;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{    background-color: var(--iq-primary) !important; color: var(--iq-white) !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color:#fff !important}
.error {color:red}



.slick-aerrow-block button.slick-arrow { position: static; background: var(--iq-primary) 0% 0% no-repeat padding-box; margin: 0 0 0 10px; line-height: 5px; box-shadow: 0px 9px 19px #01041B0D; font-size: 0; transform: none; color: var(--iq-white); -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s; }
.slick-aerrow-block button.slick-arrow:hover { background: var(--iq-white); color: var(--iq-primary) !important; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s; }
.slick-aerrow-block { display: flex; align-items: center; justify-content: center; }
.slick-aerrow-block  .slick-prev:before { color: var(--iq-white); content: "\f053"; font-family: 'Font Awesome\ 5 Free'; font-weight: 900; }
.slick-aerrow-block .slick-next:before { color: var(--iq-white); content: "\f054"; font-family: 'Font Awesome\ 5 Free'; font-weight: 900; }
.slick-aerrow-block .slick-prev:hover::before { color: var(--iq-primary); }
.slick-aerrow-block .slick-next:hover::before { color: var(--iq-primary); }
.slick-aerrow-block .slick-arrow  { width: 30px !important; height: 30px !important; border-radius: 5px !important; text-align: center; opacity: 1; font-size: 24px; z-index: 9; }