.movies {
  padding: 20px;
}

a {
  display: block;
}

.movieTitle {
  background: gray;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.movieTitle:hover {
  background: pink;
}

.movieRatingsGood {
  color: blue;
}

.movieRatingsSoso {
  color: orange;
}

.movieRatingsBad {
  color: red;
}
