$blue: blue;
$red: red;
$lightGray: lightgray;
$gray: gray;

@mixin button-color($color) {
  background: $color;
  &:hover {
    background: lighten($color, 10%);
  }
  &:active {
    background: darken($color, 10%);
  }
}
