.movieTitle {
  display: block;
  text-decoration: none;
  color: gray;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.movieTitle:hover {
  color: white;
  background: pink;
  border: 1px solid white;
}