{{#extend layout title="Tags" active="tags" isHeader="true" isFooter="true" path="./" isBreadcrumb="true"}}
{{#content "content"}}
    <section class="section-padding">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h4 class="main-title text-capitalize mb-0">Movie Tag</h4>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-6">
                <div class="col">
                    {{> components/widgets/tag tag-title="Action" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Adventure" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Animation" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Comedy" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Drama" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Family" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Fantasy" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="History" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Horror" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Mystery" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Recommended" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Sci-Fi" tag-url="view-all-movie.html"}}
                </div>
            </div>
            <div class="text-center">
                {{> components/widgets/custom-button button-title="load more" button-url="javascript:void(0)"}}
            </div>
        </div>
    </section>

    <section class="section-padding-bottom">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h4 class="main-title text-capitalize mb-0">Tv-Show Tag</h4>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-6">
                <div class="col">
                    {{> components/widgets/tag tag-title="4K Ultra" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Brother" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Brother Relationship" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Kings" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="music" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Mythology" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Premieres" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Vikings" tag-url="view-all-movie.html"}}
                </div>               
            </div>
            <div class="text-center">
                {{> components/widgets/custom-button button-title="load more" button-url="javascript:void(0)"}}
            </div>
        </div>
    </section>


    <section class="section-padding-bottom">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h4 class="main-title text-capitalize mb-0">Video Tag</h4>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-6">
                <div class="col">
                    {{> components/widgets/tag tag-title="Action" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Adventure" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Animation" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Comedy" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Crime" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Drama" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Family" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Fantasy" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="horror" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Romance" tag-url="view-all-movie.html"}}
                </div>
                <div class="col">
                    {{> components/widgets/tag tag-title="Thriller" tag-url="view-all-movie.html"}}
                </div>
            </div>
            <div class="text-center">
                {{> components/widgets/custom-button button-title="load more" button-url="javascript:void(0)"}}
            </div>
        </div>
    </section>
{{/content}}
{{/extend}}