.title {
  text-align: center;
}

.movie {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
}

.movie .movieTitle {
  flex: 4;
  color: gray;
  text-decoration: none;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.movie .movieTitle:hover {
  background-color: pink;
}

.movie .movieImage {
  flex: 1;
  height: 100px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.movieContent {
  padding: 10px;
  margin-bottom: 20px;
}

.good {
  color: blue;
}

.soso {
  color: yellowgreen;
}

.bad {
  color: red;
}

.movieSynopsis {
  font-size: 8px;
  color: gray;
}

.movieGenres {
  color: gray;
}

.movieContent > * {
  padding-bottom: 4px;
}
