@import '../../styles/resources.scss';

.title {
  text-align: center;
  color: $gray;
}

.movieItem {
  display: flex;
  margin-bottom: $xs;
}

.movieTitle {
  display: block;
  text-decoration: none;
  border: 1px solid $gray;
  border-radius: $xxs;
  color: $gray;
  font-size: $lg;
  flex: 11;
}

.movieTitle:hover {
  color: $white;
  background: $gray;
}

.movieImage {
  width: $xs;
  height: auto;
  border: 1px solid $gray;
  margin-left: 8px;
  border-radius: $xs;
  flex: 1;
}