<div class="iq-top-ten-block">
    <div class="block-image position-relative">
        <div class="img-box">
            <a class="overly-images" href="{{path}}movie-detail.html">
                <img src="{{path}}assets/images/{{image-path}}" alt="movie-card" class="img-fluid object-cover">
            </a>
            <span class="top-ten-numbers texture-text">{{count-value}}</span>
        </div>
    </div>
</div>