<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스: tb_trn_isdoc 프로젝트 메인 DB 매퍼 -->
<mapper namespace="jp.co.[company_name].[main_system_name].is.mapper.TbTrnIsdocMapper">

<!-- 인터페이스(bean) 위치: [app_name]\src\main\java\jp\co\[company_name]\[main_system_name]\is\mapper\TbTrnIsdocMapper.java -->
<!-- 인터페이스(bean) 용례: #{bean.specId,jdbcType=VARCHAR} -->

	<!-- 선택: 메인 DB 컬럼 -->
	<select id="select"  parameterType="jp.co.[company_name].[main_system_name].is.entity.TbTrnIsdocEntity" resultType="jp.co.[company_name].[main_system_name].is.entity.TbTrnIsdocEntity">
		select
			spec_id						AS specId,
			site_id						AS siteId,
			area						AS area,
			rf_design_status			AS rfDesignStatus,
			rf_design_log				AS rfDesignLog,
			isdoc_lock				    AS isdocLock,
			frequency_services			AS frequencyServices,
			default_frequency_band		AS defaultFrequencyBand,
			frequency_service_info		AS frequencyServiceInfo,
			first_antenna_location		AS firstAntennaLocation,
			design_specification		AS designSpecification,
			design_site					AS designSite,
			design_base_station			AS designBaseStation,
			design_order				AS designOrder,
			design_radio_group			AS designRadioGroup,
			design_radio_group_device	AS designRadioGroupDevice,
			design_radio_head			AS designRadioHead,
			design_antenna_device		AS designAntennaDevice,
			design_misc_device			AS designMiscDevice,
			design_network				AS designNetwork,
			design_service_band_lte		AS designServiceBandLte,
			design_service_band_wcdma	AS designServiceBandWcdma,
			design_service_band_5g		AS designServiceBand5g,
			design_sector				AS designSector,
			design_sector_antenna		AS designSectorAntenna,
			design_port					AS designPort,
			keitouzu_antenna_device		AS keitouzuAntennaDevice,
			keitouzu_sector_antenna		AS keitouzuSectorAntenna,
			keitouzu_design_port		AS keitouzuDesignPort,
			buildings					AS buildings,
			floor_images				AS floorImages,
			floors						AS floors,
			partition_settings			AS partitionSettings,
			partitions					AS partitions,
			atrium_setting              AS atriumSetting,
			atriums						AS atriums,
			antennas					AS antennas,
			design_catalog				AS designCatalog,
			current_floor_id			AS currentFloorId,
			simulation_command			AS simulationCommand,
			simulation_status			AS simulationStatus,
			simulation_progress			AS simulationProgress,
			simulation_id				AS simulationId,
			yosokuzu_diagram			AS yosokuzuDiagram,
			yosokuzu_visible_options	AS yosokuzuVisibleOptions,
			keitouzu_diagram			AS keitouzuDiagram,
			keitouzu_visible_options	AS keitouzuVisibleOptions,
			measurements				AS measurements,
			standing_measurements		AS standingMeasurements,
			anchor_relation				AS anchorRelation,
			dialog_settings				AS dialogSettings,
			tasklist					AS tasklist,
			create_user_name			AS createUserName,
			update_user_name			AS updateUserName,
			sw_version					AS swVersion,
			delete_flg					AS deleteFlg,
			create_date					AS createDate,
			create_user					AS createUser,
			update_date					AS updateDate,
			update_user					AS updateUser,
			version_no					AS versionNo
		from tb_trn_isdoc
		<where>
			<if test="bean.specId != null and bean.specId != ''">
				AND spec_id = #{bean.specId}
			</if>
			<if test="bean.siteId != null and bean.siteId != ''">
				AND site_id = #{bean.siteId}
			</if>
			<if test="bean.area != null and bean.area != ''">
				AND area = #{bean.area}
			</if>
			<if test="bean.rfDesignStatus != null and bean.rfDesignStatus != ''">
				AND rf_design_status = #{bean.rfDesignStatus}
			</if>
			<if test="bean.rfDesignLog != null and bean.rfDesignLog != ''">
				AND rf_design_log = #{bean.rfDesignLog}
			</if>
			<if test="bean.isdocLock != null">
				AND isdoc_lock = #{bean.isdocLock}
			</if>
			<if test="bean.frequencyServices != null and bean.frequencyServices != ''">
				AND frequency_services = #{bean.frequencyServices}
			</if>
			<if test="bean.defaultFrequencyBand != null and bean.defaultFrequencyBand != ''">
				AND default_frequency_band = #{bean.defaultFrequencyBand}
			</if>
			<if test="bean.frequencyServiceInfo != null and bean.frequencyServiceInfo != ''">
				AND frequency_service_info = #{bean.frequencyServiceInfo}
			</if>
			<if test="bean.firstAntennaLocation != null and bean.firstAntennaLocation != ''">
				AND first_antenna_location = #{bean.firstAntennaLocation}
			</if>
			<if test="bean.designSpecification != null and bean.designSpecification != ''">
				AND design_specification = #{bean.designSpecification}
			</if>
			<if test="bean.designSite != null and bean.designSite != ''">
				AND design_site = #{bean.designSite}
			</if>
			<if test="bean.designBaseStation != null and bean.designBaseStation != ''">
				AND design_base_station = #{bean.designBaseStation}
			</if>
			<if test="bean.designOrder != null and bean.designOrder != ''">
				AND design_order = #{bean.designOrder}
			</if>
			<if test="bean.designRadioGroup != null and bean.designRadioGroup != ''">
				AND design_radio_group = #{bean.designRadioGroup}
			</if>
			<if test="bean.designRadioGroupDevice != null and bean.designRadioGroupDevice != ''">
				AND design_radio_group_device = #{bean.designRadioGroupDevice}
			</if>
			<if test="bean.designRadioHead != null and bean.designRadioHead != ''">
				AND design_radio_head = #{bean.designRadioHead}
			</if>
			<if test="bean.designAntennaDevice != null and bean.designAntennaDevice != ''">
				AND design_antenna_device = #{bean.designAntennaDevice}
			</if>
			<if test="bean.designMiscDevice != null and bean.designMiscDevice != ''">
				AND design_misc_device = #{bean.designMiscDevice}
			</if>
			<if test="bean.designNetwork != null and bean.designNetwork != ''">
				AND design_network = #{bean.designNetwork}
			</if>
			<if test="bean.designServiceBandLte != null and bean.designServiceBandLte != ''">
				AND design_service_band_lte = #{bean.designServiceBandLte}
			</if>
			<if test="bean.designServiceBandWcdma != null and bean.designServiceBandWcdma != ''">
				AND design_service_band_wcdma = #{bean.designServiceBandWcdma}
			</if>
			<if test="bean.designServiceBand5g != null and bean.designServiceBand5g != ''">
				AND design_service_band_5g = #{bean.designServiceBand5g}
			</if>
			<if test="bean.designSector != null and bean.designSector != ''">
				AND design_sector = #{bean.designSector}
			</if>
			<if test="bean.designSectorAntenna != null and bean.designSectorAntenna != ''">
				AND design_sector_antenna = #{bean.designSectorAntenna}
			</if>
			<if test="bean.designPort != null and bean.designPort != ''">
				AND design_port = #{bean.designPort}
			</if>
			<if test="bean.keitouzuAntennaDevice != null and bean.keitouzuAntennaDevice != ''">
				AND keitouzu_antenna_device = #{bean.keitouzuAntennaDevice}
			</if>
			<if test="bean.keitouzuSectorAntenna != null and bean.keitouzuSectorAntenna != ''">
				AND keitouzu_sector_antenna = #{bean.keitouzuSectorAntenna}
			</if>
			<if test="bean.keitouzuDesignPort != null and bean.keitouzuDesignPort != ''">
				AND keitouzu_design_port = #{bean.keitouzuDesignPort}
			</if>
			<if test="bean.buildings != null and bean.buildings != ''">
				AND buildings = #{bean.buildings}
			</if>
			<if test="bean.floorImages != null and bean.floorImages != ''">
				AND floor_images = #{bean.floorImages}
			</if>
			<if test="bean.floors != null and bean.floors != ''">
				AND floors = #{bean.floors}
			</if>
			<if test="bean.partitionSettings != null and bean.partitionSettings != ''">
				AND partition_settings = #{bean.partitionSettings}
			</if>
			<if test="bean.partitions != null and bean.partitions != ''">
				AND partitions = #{bean.partitions}
			</if>
			<if test="bean.atriumSetting != null and bean.atriumSetting != ''">
				AND atrium_setting = #{bean.atriumSetting}
			</if>
			<if test="bean.atriums != null and bean.atriums != ''">
				AND atriums = #{bean.atriums}
			</if>
			<if test="bean.antennas != null and bean.antennas != ''">
				AND antennas = #{bean.antennas}
			</if>
			<if test="bean.designCatalog != null and bean.designCatalog != ''">
				AND design_catalog = #{bean.designCatalog}
			</if>
			<if test="bean.currentFloorId != null and bean.currentFloorId != ''">
				AND current_floor_id = #{bean.currentFloorId}
			</if>
			<if test="bean.simulationCommand != null and bean.simulationCommand != ''">
				AND simulation_command = #{bean.simulationCommand}
			</if>
			<if test="bean.simulationStatus != null and bean.simulationStatus != ''">
				AND simulation_status = #{bean.simulationStatus}
			</if>
			<if test="bean.simulationProgress != null and bean.simulationProgress != ''">
				simulation_progress = #{bean.simulationProgress},
			</if>
			<if test="bean.simulationProgress != null">
				AND simulation_progress = #{bean.simulationProgress}
			</if>
			<if test="bean.simulationId != null and bean.simulationId != ''">
				AND simulation_id = #{bean.simulationId}
			</if>
			<if test="bean.yosokuzuDiagram != null and bean.yosokuzuDiagram != ''">
				AND yosokuzu_diagram = #{bean.yosokuzuDiagram}
			</if>
			<if test="bean.yosokuzuVisibleOptions != null and bean.yosokuzuVisibleOptions != ''">
				AND keitouzu_visible_options = #{bean.keitouzuVisibleOptions}
			</if>
			<if test="bean.keitouzuDiagram != null and bean.keitouzuDiagram != ''">
				AND keitouzu_diagram = #{bean.keitouzuDiagram}
			</if>
			<if test="bean.keitouzuVisibleOptions != null and bean.keitouzuVisibleOptions != ''">
				AND keitouzu_visible_options = #{bean.keitouzuVisibleOptions},
			</if>
			<if test="bean.measurements != null and bean.measurements != ''">
				AND measurements = #{bean.measurements}
			</if>
			<if test="bean.standingMeasurements != null and bean.standingMeasurements != ''">
				AND standing_measurements = #{bean.standingMeasurements}
			</if>
			<if test="bean.anchorRelation != null and bean.anchorRelation != ''">
				AND anchor_relation = #{bean.anchorRelation}
			</if>
			<if test="bean.dialogSettings != null and bean.dialogSettings != ''">
				AND dialog_settings = #{bean.dialogSettings}
			</if>
			<if test="bean.tasklist != null and bean.tasklist != ''">
				AND tasklist = #{bean.tasklist}
			</if>
			<if test="bean.createUserName != null and bean.createUserName != ''">
				AND create_user_name = #{bean.createUserName}
			</if>
			<if test="bean.updateUserName != null and bean.updateUserName != ''">
				AND update_user_name = #{bean.updateUserName}
			</if>
			<if test="bean.swVersion != null and bean.swVersion != ''">
				AND sw_version = #{bean.swVersion}
			</if>
		</where>
	</select>

	<!-- 수정: 메인 DB 컬럼 -->
	<update id="update"  parameterType="jp.co.[company_name].[main_system_name].is.entity.TbTrnIsdocEntity">
		update tb_trn_isdoc
			<set>
				<if test="bean.siteId != null and bean.siteId != ''">
					site_id = #{bean.siteId},
				</if>
				<if test="bean.area != null and bean.area != ''">
					area = #{bean.area},
				</if>
				<if test="bean.rfDesignStatus != null and bean.rfDesignStatus != ''">
					rf_design_status = #{bean.rfDesignStatus},
				</if>
				<if test="bean.rfDesignLog != null and bean.rfDesignLog != ''">
					rf_design_log = #{bean.rfDesignLog},
				</if>
				<if test="bean.isdocLock != null">
					isdoc_lock = #{bean.isdocLock},
				</if>
				<if test="bean.frequencyServices != null and bean.frequencyServices != ''">
					frequency_services = #{bean.frequencyServices},
				</if>
				<if test="bean.defaultFrequencyBand != null and bean.defaultFrequencyBand != ''">
					default_frequency_band = #{bean.defaultFrequencyBand},
				</if>
				<if test="bean.frequencyServiceInfo != null and bean.frequencyServiceInfo != ''">
					frequency_service_info = #{bean.frequencyServiceInfo},
				</if>
				<if test="bean.firstAntennaLocation != null and bean.firstAntennaLocation != ''">
					first_antenna_location = #{bean.firstAntennaLocation},
				</if>
				<if test="bean.designSpecification != null and bean.designSpecification != ''">
					design_specification = #{bean.designSpecification},
				</if>
				<if test="bean.designSite != null and bean.designSite != ''">
					design_site = #{bean.designSite},
				</if>
				<if test="bean.designBaseStation != null and bean.designBaseStation != ''">
					design_base_station = #{bean.designBaseStation},
				</if>
				<if test="bean.designOrder != null and bean.designOrder != ''">
					design_order = #{bean.designOrder},
				</if>
				<if test="bean.designRadioGroup != null and bean.designRadioGroup != ''">
					design_radio_group = #{bean.designRadioGroup},
				</if>
				<if test="bean.designRadioGroupDevice != null and bean.designRadioGroupDevice != ''">
					design_radio_group_device = #{bean.designRadioGroupDevice},
				</if>
				<if test="bean.designRadioHead != null and bean.designRadioHead != ''">
					design_radio_head = #{bean.designRadioHead},
				</if>
				<if test="bean.designAntennaDevice != null and bean.designAntennaDevice != ''">
					design_antenna_device = #{bean.designAntennaDevice},
				</if>
				<if test="bean.designMiscDevice != null and bean.designMiscDevice != ''">
					design_misc_device = #{bean.designMiscDevice},
				</if>
				<if test="bean.designNetwork != null and bean.designNetwork != ''">
					design_network = #{bean.designNetwork},
				</if>
				<if test="bean.designServiceBandLte != null and bean.designServiceBandLte != ''">
					design_service_band_lte = #{bean.designServiceBandLte},
				</if>
				<if test="bean.designServiceBandWcdma != null and bean.designServiceBandWcdma != ''">
					design_service_band_wcdma = #{bean.designServiceBandWcdma},
				</if>
				<if test="bean.designServiceBand5g != null and bean.designServiceBand5g != ''">
					design_service_band_5g = #{bean.designServiceBand5g},
				</if>
				<if test="bean.designSector != null and bean.designSector != ''">
					design_sector = #{bean.designSector},
				</if>
				<if test="bean.designSectorAntenna != null and bean.designSectorAntenna != ''">
					design_sector_antenna = #{bean.designSectorAntenna},
				</if>
				<if test="bean.designPort != null and bean.designPort != ''">
					design_port = #{bean.designPort},
				</if>
				<if test="bean.keitouzuAntennaDevice != null and bean.keitouzuAntennaDevice != ''">
					keitouzu_antenna_device = #{bean.keitouzuAntennaDevice},
				</if>
				<if test="bean.keitouzuSectorAntenna != null and bean.keitouzuSectorAntenna != ''">
					keitouzu_sector_antenna = #{bean.keitouzuSectorAntenna},
				</if>
				<if test="bean.keitouzuDesignPort != null and bean.keitouzuDesignPort != ''">
					keitouzu_design_port = #{bean.keitouzuDesignPort},
				</if>
				<if test="bean.buildings != null and bean.buildings != ''">
					buildings = #{bean.buildings},
				</if>
				<if test="bean.floorImages != null and bean.floorImages != ''">
					floor_images = #{bean.floorImages},
				</if>
				<if test="bean.floors != null and bean.floors != ''">
					floors = #{bean.floors},
				</if>
				<if test="bean.partitionSettings != null and bean.partitionSettings != ''">
					partition_settings = #{bean.partitionSettings},
				</if>
				<if test="bean.partitions != null and bean.partitions != ''">
					partitions = #{bean.partitions},
				</if>
				<if test="bean.atriumSetting != null and bean.atriumSetting != ''">
					atrium_setting = #{bean.atriumSetting},
				</if>
				<if test="bean.atriums != null and bean.atriums != ''">
					atriums = #{bean.atriums},
				</if>
				<if test="bean.antennas != null and bean.antennas != ''">
					antennas = #{bean.antennas},
				</if>
				<if test="bean.designCatalog != null and bean.designCatalog != ''">
					design_catalog = #{bean.designCatalog},
				</if>
				<if test="bean.currentFloorId != null and bean.currentFloorId != ''">
					current_floor_id = #{bean.currentFloorId},
				</if>
				<if test="bean.simulationCommand != null and bean.simulationCommand != ''">
					simulation_command = #{bean.simulationCommand},
				</if>
				<if test="bean.simulationStatus != null and bean.simulationStatus != ''">
					simulation_status = #{bean.simulationStatus},
				</if>
				<if test="bean.simulationProgress != null and bean.simulationProgress != ''">
					simulation_progress = #{bean.simulationProgress},
				</if>
				<if test="bean.simulationId != null and bean.simulationId != ''">
					simulation_id = #{bean.simulationId},
				</if>
				<if test="bean.yosokuzuDiagram != null and bean.yosokuzuDiagram != ''">
					yosokuzu_diagram = #{bean.yosokuzuDiagram},
				</if>
				<if test="bean.yosokuzuVisibleOptions != null and bean.yosokuzuVisibleOptions != ''">
					yosokuzu_visible_options = #{bean.yosokuzuVisibleOptions},
				</if>
				<if test="bean.keitouzuDiagram != null and bean.keitouzuDiagram != ''">
					keitouzu_diagram = #{bean.keitouzuDiagram},
				</if>
				<if test="bean.keitouzuVisibleOptions != null and bean.keitouzuVisibleOptions != ''">
					keitouzu_visible_options = #{bean.keitouzuVisibleOptions},
				</if>
				<if test="bean.measurements != null and bean.measurements != ''">
					measurements = #{bean.measurements},
				</if>
				<if test="bean.standingMeasurements != null and bean.standingMeasurements != ''">
					standing_measurements = #{bean.standingMeasurements},
				</if>
				<if test="bean.anchorRelation != null and bean.anchorRelation != ''">
					anchor_relation = #{bean.anchorRelation},
				</if>
				<if test="bean.dialogSettings != null and bean.dialogSettings != ''">
					dialog_settings = #{bean.dialogSettings},
				</if>
				<if test="bean.tasklist != null and bean.tasklist != ''">
					tasklist = #{bean.tasklist},
				</if>
				<if test="bean.updateUserName != null and bean.updateUserName != ''">
					update_user_name = #{bean.updateUserName},
				</if>
				<if test="bean.swVersion != null and bean.swVersion != ''">
					sw_version = #{bean.swVersion},
				</if>
				<if test="bean.deleteFlg != null and bean.deleteFlg != ''">
					delete_flg = #{bean.deleteFlg},
				</if>
				<if test="mode != null and mode != ''">
					version_no = version_no + 1,
				</if>
				update_date = current_timestamp,
				update_user = #{bean.updateUser}
			</set>
		<where>
			<if test="bean.specId != null and bean.specId != ''">
				AND spec_id=#{bean.specId}
			</if>
			<if test="bean.versionNo != null and bean.versionNo != ''">
				AND version_no=#{bean.versionNo}
			</if>
		</where>
	</update>

	<!-- 취소: 메인 DB 컬럼 -->
	<update id="cancel"  parameterType="jp.co.[company_name].[main_system_name].is.entity.TbTrnIsdocEntity">
		update tb_trn_isdoc set
			delete_flg = '1'
		<where>
			<if test="bean.specId != null and bean.specId != ''">
				AND spec_id=#{bean.specId}
			</if>
		</where>
	</update>

	<!-- 삽입: 메인 DB 컬럼 -->
	<insert id="insert" parameterType="jp.co.[company_name].[main_system_name].is.entity.TbTrnIsdocEntity">
		insert into tb_trn_isdoc(
			spec_id,
			site_id,
			area,
			rf_design_status,
			rf_design_log,
			isdoc_lock,
			frequency_services,
			default_frequency_band,
			frequency_service_info,
			first_antenna_location,
			design_specification,
			design_site,
			design_base_station,
			design_order,
			design_radio_group,
			design_radio_group_device,
			design_radio_head,
			design_antenna_device,
			design_misc_device,
			design_network,
			design_service_band_lte,
			design_service_band_wcdma,
			design_service_band_5g,
			design_sector,
			design_sector_antenna,
			design_port,
			keitouzu_antenna_device,
			keitouzu_sector_antenna,
			keitouzu_design_port,
			buildings,
			floor_images,
			floors,
			partition_settings,
			partitions,
			atrium_setting,
			atriums,
			antennas,
			design_catalog,
			current_floor_id,
			simulation_command,
			simulation_status,
			simulation_progress,
			simulation_id,
			yosokuzu_diagram,
			yosokuzu_visible_options,
			keitouzu_diagram,
			keitouzu_visible_options,
			measurements,
			standing_measurements,
			anchor_relation,
			dialog_settings,
			tasklist,
			create_user_name,
			update_user_name,
			sw_version,
			delete_flg,
			create_date,
			create_user,
			update_date,
			update_user,
			version_no
			)
		values
		   (
			#{bean.specId,jdbcType=VARCHAR},
			#{bean.siteId,jdbcType=VARCHAR},
			#{bean.area,jdbcType=VARCHAR},
			#{bean.rfDesignStatus,jdbcType=VARCHAR},
			#{bean.rfDesignLog,jdbcType=VARCHAR},
			#{bean.isdocLock,jdbcType=BOOLEAN},
			#{bean.frequencyServices,jdbcType=VARCHAR},
			#{bean.defaultFrequencyBand,jdbcType=VARCHAR},
			#{bean.frequencyServiceInfo,jdbcType=VARCHAR},
			#{bean.firstAntennaLocation,jdbcType=VARCHAR},
			#{bean.designSpecification,jdbcType=VARCHAR},
			#{bean.designSite,jdbcType=VARCHAR},
			#{bean.designBaseStation,jdbcType=VARCHAR},
			#{bean.designOrder,jdbcType=VARCHAR},
			#{bean.designRadioGroup,jdbcType=VARCHAR},
			#{bean.designRadioGroupDevice,jdbcType=VARCHAR},
			#{bean.designRadioHead,jdbcType=VARCHAR},
			#{bean.designAntennaDevice,jdbcType=VARCHAR},
			#{bean.designMiscDevice,jdbcType=VARCHAR},
			#{bean.designNetwork,jdbcType=VARCHAR},
			#{bean.designServiceBandLte,jdbcType=VARCHAR},
			#{bean.designServiceBandWcdma,jdbcType=VARCHAR},
			#{bean.designServiceBand5g,jdbcType=VARCHAR},
			#{bean.designSector,jdbcType=VARCHAR},
			#{bean.designSectorAntenna,jdbcType=VARCHAR},
			#{bean.designPort,jdbcType=VARCHAR},
			#{bean.keitouzuAntennaDevice,jdbcType=VARCHAR},
			#{bean.keitouzuSectorAntenna,jdbcType=VARCHAR},
			#{bean.keitouzuDesignPort,jdbcType=VARCHAR},
			#{bean.buildings,jdbcType=VARCHAR},
			#{bean.floorImages,jdbcType=VARCHAR},
			#{bean.floors,jdbcType=VARCHAR},
			#{bean.partitionSettings,jdbcType=VARCHAR},
			#{bean.partitions,jdbcType=VARCHAR},
			#{bean.atriumSetting,jdbcType=VARCHAR},
			#{bean.atriums,jdbcType=VARCHAR},
			#{bean.antennas,jdbcType=VARCHAR},
			#{bean.designCatalog,jdbcType=VARCHAR},
			#{bean.currentFloorId,jdbcType=VARCHAR},
			#{bean.simulationCommand,jdbcType=VARCHAR},
			#{bean.simulationStatus,jdbcType=VARCHAR},
			#{bean.simulationProgress,jdbcType=INTEGER},
			#{bean.simulationId,jdbcType=INTEGER},
			#{bean.yosokuzuDiagram,jdbcType=VARCHAR},
			#{bean.yosokuzuVisibleOptions,jdbcType=VARCHAR},
			#{bean.keitouzuDiagram,jdbcType=VARCHAR},
			#{bean.keitouzuVisibleOptions,jdbcType=VARCHAR},
			#{bean.measurements,jdbcType=VARCHAR},
			#{bean.standingMeasurements,jdbcType=VARCHAR},
			#{bean.anchorRelation,jdbcType=VARCHAR},
			#{bean.dialogSettings,jdbcType=VARCHAR},
			#{bean.tasklist,jdbcType=VARCHAR},
			#{bean.createUserName,jdbcType=VARCHAR},
			#{bean.updateUserName,jdbcType=VARCHAR},
			#{bean.swVersion,jdbcType=VARCHAR},
			'0',
			current_timestamp,
			#{bean.createUser,jdbcType=VARCHAR},
			current_timestamp,
			#{bean.updateUser,jdbcType=VARCHAR},
			0
			)
	</insert>

	<insert id="insertList" parameterType="java.util.List">
		insert into tb_trn_isdoc(
			spec_id,
			site_id,
			area,
			rf_design_status,
			rf_design_log,
			isdoc_lock,
			frequency_services,
			default_frequency_band,
			frequency_service_info,
			first_antenna_location,
			design_specification,
			design_site,
			design_base_station,
			design_order,
			design_radio_group,
			design_radio_group_device,
			design_radio_head,
			design_antenna_device,
			design_misc_device,
			design_network,
			design_service_band_lte,
			design_service_band_wcdma,
			design_service_band_5g,
			design_sector,
			design_sector_antenna,
			design_port,
			keitouzu_antenna_device,
			keitouzu_sector_antenna,
			keitouzu_design_port,
			buildings,
			floor_images,
			floors,
			partition_settings,
			partitions,
			atrium_setting,
			atriums,
			antennas,
			design_catalog,
			current_floor_id,
			simulation_command,
			simulation_status,
			simulation_progress,
			simulation_id,
			yosokuzu_diagram,
			yosokuzu_visible_options,
			keitouzu_diagram,
			keitouzu_visible_options,
			measurements,
			standing_measurements,
			anchor_relation,
			dialog_settings,
			tasklist,
			create_user_name,
			update_user_name,
			sw_version,
			delete_flg,
			create_date,
			create_user,
			update_date,
			update_user,
			version_no
			)
		values
		<foreach collection="beanList" item="bean" separator=",">
		   (
			#{bean.specId,jdbcType=VARCHAR},
			#{bean.siteId,jdbcType=VARCHAR},
			#{bean.area,jdbcType=VARCHAR},
			#{bean.rfDesignStatus,jdbcType=VARCHAR},
			#{bean.rfDesignLog,jdbcType=VARCHAR},
			#{bean.isdocLock,jdbcType=BOOLEAN},
			#{bean.frequencyServices,jdbcType=VARCHAR},
			#{bean.defaultFrequencyBand,jdbcType=VARCHAR},
			#{bean.frequencyServiceInfo,jdbcType=VARCHAR},
			#{bean.firstAntennaLocation,jdbcType=VARCHAR},
			#{bean.designSpecification,jdbcType=VARCHAR},
			#{bean.designSite,jdbcType=VARCHAR},
			#{bean.designBaseStation,jdbcType=VARCHAR},
			#{bean.designOrder,jdbcType=VARCHAR},
			#{bean.designRadioGroup,jdbcType=VARCHAR},
			#{bean.designRadioGroupDevice,jdbcType=VARCHAR},
			#{bean.designRadioHead,jdbcType=VARCHAR},
			#{bean.designAntennaDevice,jdbcType=VARCHAR},
			#{bean.designMiscDevice,jdbcType=VARCHAR},
			#{bean.designNetwork,jdbcType=VARCHAR},
			#{bean.designServiceBandLte,jdbcType=VARCHAR},
			#{bean.designServiceBandWcdma,jdbcType=VARCHAR},
			#{bean.designServiceBand5g,jdbcType=VARCHAR},
			#{bean.designSector,jdbcType=VARCHAR},
			#{bean.designSectorAntenna,jdbcType=VARCHAR},
			#{bean.designPort,jdbcType=VARCHAR},
			#{bean.keitouzuAntennaDevice,jdbcType=VARCHAR},
			#{bean.keitouzuSectorAntenna,jdbcType=VARCHAR},
			#{bean.keitouzuDesignPort,jdbcType=VARCHAR},
			#{bean.buildings,jdbcType=VARCHAR},
			#{bean.floorImages,jdbcType=VARCHAR},
			#{bean.floors,jdbcType=VARCHAR},
			#{bean.partitionSettings,jdbcType=VARCHAR},
			#{bean.partitions,jdbcType=VARCHAR},
			#{bean.atriumSetting,jdbcType=VARCHAR},
			#{bean.atriums,jdbcType=VARCHAR},
			#{bean.antennas,jdbcType=VARCHAR},
			#{bean.designCatalog,jdbcType=VARCHAR},
			#{bean.currentFloorId,jdbcType=VARCHAR},
			#{bean.simulationCommand,jdbcType=VARCHAR},
			#{bean.simulationStatus,jdbcType=VARCHAR},
			#{bean.simulationProgress,jdbcType=INTEGER},
			#{bean.simulationId,jdbcType=INTEGER},
			#{bean.yosokuzuDiagram,jdbcType=VARCHAR},
			#{bean.yosokuzuVisibleOptions,jdbcType=VARCHAR},
			#{bean.keitouzuDiagram,jdbcType=VARCHAR},
			#{bean.keitouzuVisibleOptions,jdbcType=VARCHAR},
			#{bean.measurements,jdbcType=VARCHAR},
			#{bean.standingMeasurements,jdbcType=VARCHAR},
			#{bean.anchorRelation,jdbcType=VARCHAR},
			#{bean.dialogSettings,jdbcType=VARCHAR},
			#{bean.tasklist,jdbcType=VARCHAR},
			#{bean.createUserName,jdbcType=VARCHAR},
			#{bean.updateUserName,jdbcType=VARCHAR},
			#{bean.swVersion,jdbcType=VARCHAR},
			'0',
			current_timestamp,
			#{bean.createUser,jdbcType=VARCHAR},
			current_timestamp,
			#{bean.updateUser,jdbcType=VARCHAR},
			0
			)
		</foreach>
	</insert>

	<!-- 삭제: 메인 DB 컬럼 제원 -->
	<delete id="delete"  parameterType="jp.co.[company_name].[main_system_name].is.entity.TbTrnIsdocEntity">
		delete from tb_trn_isdoc
		<where>
			<if test="bean.specId != null and bean.specId != ''">
				AND spec_id=#{bean.specId}
			</if>
		</where>
	</delete>

	<!-- 선택: 제원 검색 -->
	<select id="searchTbTrnIsdoc" parameterType="jp.co.[company_name].[main_system_name].is.model.SearchTbTrnIsdocRequest" resultType="jp.co.[company_name].[main_system_name].is.model.SearchTbTrnIsdocResult">
		select
			specId,
			area,
			json_agg(distinct rfDesignStatus) as rfDesignStatus,
			json_agg(distinct message) as message,
			json_agg(distinct siteId)  as siteId,
			json_agg(distinct baseNumber) as baseNumber,
			json_agg(distinct baseNameKanji) as baseNameKanji,
			json_agg(distinct frequencyBand) as frequencyBand,
			json_agg(distinct nwId) as nwId
		FROM

			(
			select
				design_site.specId,
				design_site.area,
				design_site.rfDesignStatus,
				rf_design_log_new_message.message,
				design_site.siteId,
				design_base_station.baseNumber,
				design_base_station.baseNameKanji,
				design_base_station.frequencyBand,
				design_network.nwId
			from
				(select
					spec_id AS specId,
					area,
					rf_design_status AS rfDesignStatus,
					json_array_elements(design_site::json)->>'siteId' as siteId,
					json_array_elements(design_site::json)->>'prefCd' as prefCd,
					json_array_elements(design_site::json)->>'cityCd' as cityCd

				from tb_trn_isdoc
				<where>
				  <if test="searchRequest.rfDesignStatus != null and searchRequest.rfDesignStatus.size() > 0">
				      and  rf_design_status in
				       <foreach item="item" index="index" collection="searchRequest.rfDesignStatus"
				           open="(" separator="," close=")">
				             #{item}
				       </foreach>
			      </if>
				  <if test="searchRequest.userName != null and searchRequest.userName != ''">
			       and ( (create_user_name  like '%${searchRequest.userName}%')  or (update_user_name  like '%${searchRequest.userName}%') )
			      </if>
				  <if test="searchRequest.area != null and searchRequest.area != ''">
			       and area = #{searchRequest.area}
			     </if>
				</where>
				) as design_site,

				(select
					json_array_elements(design_base_station::json)->>'specId' as specId,
					json_array_elements(design_base_station::json)->>'baseNumber' as baseNumber,
					json_array_elements(design_base_station::json)->>'baseNameKanji' as baseNameKanji,
					json_array_elements(design_base_station::json)->>'propertyNm' as propertyNm,
					json_array_elements(design_base_station::json)->>'frequencyBand' as frequencyBand
				from tb_trn_isdoc
				)  as design_base_station,

				(select
					json_array_elements(design_network::json)->>'specId' as specId,
					json_array_elements(design_network::json)->>'baseNumber' as baseNumber,
					json_array_elements(design_network::json)->>'nwId' as nwId
				from tb_trn_isdoc
				)  as design_network,

				(select
					json_array_elements(design_order::json)->>'specId' as specId,
					json_array_elements(design_order::json)->>'baseNumber' as baseNumber,
					json_array_elements(design_order::json)->>'orderId' as orderId,
					json_array_elements(design_order::json)->>'projectId' as projectId
				from tb_trn_isdoc
				)  as design_order,

				(select
					json_array_elements(design_specification::json)->>'specId' as specId,
					json_array_elements(design_specification::json)->>'specName' as specName,
					json_array_elements(design_specification::json)->>'sbStaffName' as sbStaffName
				from tb_trn_isdoc
				)  as design_specification,

				(select
					rf_design_log_all.specId,rf_design_log_all.message
				from
					(
					select
						spec_id AS specId,
						json_array_elements(rf_design_log::json)->>'updateTime' as updateTime,
						json_array_elements(rf_design_log::json)->>'message' as message
					from tb_trn_isdoc
					)  as rf_design_log_all,

					(
					select
						rf_design_log.specId, max(rf_design_log.updateTime) AS updateTime
					from
						(
						select
							spec_id AS specId,
							json_array_elements(rf_design_log::json)->>'updateTime' as updateTime,
							json_array_elements(rf_design_log::json)->>'message' as message
						from tb_trn_isdoc
						)  as   rf_design_log
					group by rf_design_log.specId
					)  as rf_design_log_max

					where   rf_design_log_all.specId = rf_design_log_max.specId
						and rf_design_log_all.updateTime = rf_design_log_max.updateTime
				) as rf_design_log_new_message
				where  design_site.specId=design_base_station.specId
				   and design_site.specId=design_network.specId
			   	   and design_site.specId=design_order.specId
			   	   and design_site.specId=design_specification.specId
				   and design_site.specId=rf_design_log_new_message.specId

				   <!-- and design_base_station.baseNumber=design_network.baseNumber
				   and design_base_station.baseNumber=design_order.baseNumber -->

				  <if test="searchRequest.siteId != null and searchRequest.siteId != ''">
			       and design_site.siteId = #{searchRequest.siteId}
			     </if>
				  <if test="searchRequest.baseNumber != null and searchRequest.baseNumber != ''">
			       and design_base_station.baseNumber = #{searchRequest.baseNumber}
			     </if>
				  <if test="searchRequest.baseNameKanji != null and searchRequest.baseNameKanji != ''">
			       and design_base_station.baseNameKanji = #{searchRequest.baseNameKanji}
			     </if>
				  <if test="searchRequest.propertyNm != null and searchRequest.propertyNm != ''">
			       and design_base_station.propertyNm = #{searchRequest.propertyNm}
			     </if>
				  <if test="searchRequest.prefCd != null and searchRequest.prefCd != ''">
			       and design_site.prefCd = #{searchRequest.prefCd}
			     </if>
				  <if test="searchRequest.cityCd != null and searchRequest.cityCd != ''">
			       and design_site.cityCd = #{searchRequest.cityCd}
			     </if>
				  <if test="searchRequest.projectId != null and searchRequest.projectId != ''">
			       and design_order.projectId = #{searchRequest.projectId}
			     </if>
				  <if test="searchRequest.orderId != null and searchRequest.orderId != ''">
			       and design_order.orderId = #{searchRequest.orderId}
			     </if>
				  <if test="searchRequest.specId != null and searchRequest.specId != ''">
			       and design_specification.specId = #{searchRequest.specId}
			     </if>
				  <if test="searchRequest.specName != null and searchRequest.specName != ''">
			       and design_specification.specName = #{searchRequest.specName}
			     </if>

				  <if test="searchRequest.frequencyBand != null and searchRequest.frequencyBand != ''">
			       and design_base_station.frequencyBand = #{searchRequest.frequencyBand}
			     </if>

				order by
					design_site.specId
			) as design

		group by
			specId,
			area
	</select>

	<!-- 선택: 제원 카운트 -->
	<select id="selectTbTrnIsdocCnt" parameterType="string" resultType="int">
		select count(spec_id) as cnt
		from tb_trn_isdoc
		where spec_id = #{specId}
	</select>

	<!-- 수정: 플루어이미지 업데이트 -->
	<update id="updateFloorImages"  parameterType="jp.co.[company_name].[main_system_name].is.entity.TbTrnIsdocEntity">
		update tb_trn_isdoc
		  set floor_images = #{tbTrnIsdoc.floorImages}
		where spec_id = #{tbTrnIsdoc.specId}
	</update>

	<!-- 삽입: 플루어이미지 삽입 -->
	<insert id="insertFloorImages"  parameterType="jp.co.[company_name].[main_system_name].is.entity.TbTrnIsdocEntity">
		insert into tb_trn_isdoc
			(spec_id,
			floor_images)
		values(
			#{tbTrnIsdoc.specId},
			#{tbTrnIsdoc.floorImages})

	</insert>

	<!-- 삭제: 제원 전체 삭제 -->
	<delete id="deleteIsdoc"  parameterType="map">
		delete from
			tb_trn_isdoc
		where spec_id = #{specId,jdbcType=VARCHAR}
	</delete>
</mapper>
