{{#extend layout title="Access Control" active="access-control" path="../" isBanner="false"}}
{{#content "content"}}
<div class="row">
    <div class="card">
        <div class="permission-collapse border rounded p-3 mb-3 mt-3" id="permission_02">
            <div class="d-flex align-items-center justify-content-between">
                <h6>Manager</h6>
                <div class="toggle-btn-groups">
                    <button class="btn btn-primary btn-xs collapsed btn btn-primary" type="button"
                        data-bs-toggle="collapse" data-bs-target="#permission" aria-expanded="false"
                        aria-controls="permission">
                        Permission
                    </button>
                </div>
            </div>
            <div class="collapse show mt-3 table-responsive " id="permission">
                <table class="table table-condensed table-striped mb-0 fixed-width-table">
                    <thead>
                        <tr>
                            <th>Modules</th>
                            <th>View</th>
                            <th>Add</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th class="text-end"><input class="btn btn-md btn-secondary" type="submit" value="Save">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rating</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Comments</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Users</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Movie List</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Shows</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Seasons</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Episodes</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Setting</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"><button type="button" aria-controls="hiddenRow"
                                    data-bs-toggle="collapse" data-bs-target="#hiddenRow"
                                    class="btn btn-primary btn-xs collapsed btn btn-primary"><i
                                        class="fa-solid fa-chevron-down me-2"> </i>More</button></td>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse show" id="hiddenRow">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">Sidebar<span class="ms-5"><input type="checkbox"
                                                            id="sidebar" name="sidebar" class="form-check-input"
                                                            value="manager"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse show" id="hiddenRow">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">Header<span class="ms-5"><input type="checkbox"
                                                            id="sidebar" name="sidebar" class="form-check-input"
                                                            value="manager"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse show" id="hiddenRow">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">Live Customizer<span class="ms-5"><input
                                                            type="checkbox" id="sidebar" name="sidebar"
                                                            class="form-check-input" value="manager"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="permission-collapse border rounded p-3 mb-3 mt-3" id="permission_02">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mb-0">User</h6>
                <div class="toggle-btn-groups">
                    <button class="btn btn-primary btn-xs collapsed btn btn-primary" type="button"
                        data-bs-toggle="collapse" data-bs-target="#user" aria-expanded="false" aria-controls="user">
                        Permission
                    </button>
                </div>
            </div>
            <div class="table-responsive collapse mt-3" id="user">
                <table class="table table-condensed table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Modules</th>
                            <th>View</th>
                            <th>Add</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th class="text-end"><input class="btn btn-md btn-secondary" type="submit" value="Save">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rating</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Comments</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Users</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Movie List</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Shows</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Seasons</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Episodes</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"></td>
                        </tr>
                        <tr>
                            <td>Setting</td>
                            <td><input type="checkbox" id="role-manager-permission-view_branch"
                                    name="permission[view_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-add_branch"
                                    name="permission[add_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-edit_branch"
                                    name="permission[edit_branch][]" class="form-check-input" value="manager"></td>
                            <td><input type="checkbox" id="role-manager-permission-delete_branch"
                                    name="permission[delete_branch][]" class="form-check-input" value="manager"></td>
                            <td class="text-end"><button type="button" data-bs-target="#hiddenRow-1"
                                    data-bs-toggle="collapse" aria-controls="hiddenRow-1" aria-expanded="true"
                                    class="btn btn-primary btn-xs collapsed btn btn-primary"><i
                                        class="fa-solid fa-chevron-down me-2"> </i>More</button></td>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse show" id="hiddenRow-1">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">Sidebar<span class="ms-5"><input type="checkbox"
                                                            id="sidebar" name="sidebar" class="form-check-input"
                                                            value="manager"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse show" id="hiddenRow-1">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">Header<span class="ms-5"><input type="checkbox"
                                                            id="sidebar" name="sidebar" class="form-check-input"
                                                            value="manager"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse show" id="hiddenRow-1">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">Live Customizer<span class="ms-5"><input
                                                            type="checkbox" id="sidebar" name="sidebar"
                                                            class="form-check-input" value="manager"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}