@mixin button-color($color) {
  background-color: $color;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  
  &:hover {
    background-color: lighten($color, 10%)
  }
  
  &:active {
    background-color: darken($color, 10%);
  }
}
