<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스: tb_trn_isdoc 최초 제원 검색 DB 매퍼-->
<mapper namespace="jp.co.[company_name].[main_system_name].is.mapper.InitialMapper">

<!-- 인터페이스(bean) 위치: [app_name]\src\main\java\jp\co\[company_name]\[main_system_name]\is\mapper\InitialMapper.java -->

	<!-- 검색: 지역 -->
	<select id="selectTbMstArea" resultType="jp.co.[company_name].[main_system_name].is.entity.TbMstArea">
		SELECT
			area,
			prefecture
		FROM
			tb_mst_area
	    ORDER BY area
	</select>

	<!-- 검색: 프로젝트Id -->
	<select id="selectProjectId" resultType="String">
		SELECT
			DISTINCT json_array_elements(design_order::json) ->> 'projectId' AS projectId
		FROM
			tb_trn_isdoc
	</select>

	<!-- 검색: 주파수 -->
	<select id="selectFrequencyBand" resultType="String">
		SELECT
			DISTINCT json_array_elements(design_base_station::json) ->> 'frequencyBand' AS frequencyBand
		FROM
			tb_trn_isdoc
	</select>

	<!-- 검색: 도시 -->
	<select id="searchCity"  parameterType="string" resultType="String">
		SELECT DISTINCT design_site ->> 'cityCd' AS cityCd
		FROM (
			SELECT json_array_elements(design_site::json) AS design_site
			FROM tb_trn_isdoc
			) AS design_site
		 <if test="prefecture != null and prefecture != ''">
	       	WHERE design_site ->> 'prefCd' = #{prefecture,jdbcType=VARCHAR}
	     </if>
	</select>

</mapper>