.App {
  padding: 20px;
}

.movie {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.movie .movieImage {
  width: 200px;
}

.movie .movieTitle {
  flex-grow: 1;
  text-decoration: none;
  color: black;  
}

.movie .movieTitle:hover {
  background-color: pink;
}
