@import "styles/resources.scss";

.movieImage {
  flex: 1;
  width: $width-xl;
  height: auto;
  border: 1px solid $gray;
  margin-left: $m-8;
  border-radius: $r-10;
}

.movieTitle {
  display: block;
  text-decoration: none;
  border: 1px solid $gray;
  border-radius: 5px;
  color: gray;
  font-size: 30px;
  flex: 11;
  margin: 20px 0 10px;
}

.movieTitle:hover {
  color: white;
  background: $gray;
}

.good {
  color: $blue;
}

.notBad {
  color: $orange;
}

.bad {
  color: $red;
}

.movieContainer {
  margin-bottom: 50px;
}

.movieDetail {
  display: flex;
}

.movieDescription {
  flex: 7;
  margin-left: 30px;
}
