@import '../../../styles/resources.scss';

.Button {
    background: $blue;
    &:hover {
        background: lighten($blue, 10%);
    }
    &:active {
        background: darken($blue, 10%);
    }
}
